@charset "utf-8";
/* CSS Document */
.closeinfo_faq_html body{
    margin: 0;
}
/*ロゴ*/
.closeinfo_faq_html .logo_text {
    font-weight: bold;
    color: #008344;
    font-size: 14px;
    text-align: center;
    margin-top:1px;
}
.closeinfo_faq_html .header {
	padding-top: 10px;
}
.closeinfo_faq_html .none_deco span{
	text-decoration: none;
    color:#008344;
}.closeinfo_faq_html .none_deco{
	text-decoration: none;
}
.closeinfo_faq_html .logo_wrap {
    padding-top: 8px;
    padding-left: 20px;
    color: #008344;
    font-weight: bold;
    margin: 5px 0 10px;
    width: 240px;
    font-size: 16px;
}
.closeinfo_faq_html .logo_wrap img{
           width: 190px;
        margin-bottom:-3px;
    }
@media screen and (max-width: 1100px) {
	.closeinfo_faq_html .logo_wrap {
        padding-top: 8px;
		padding-left: 20px;
		color: #008344;
		font-weight: bold;
	        margin-bottom: 10px;
	}

}
@media screen and (max-width: 768px) {
    .closeinfo_faq_html .logo_wrap img {
        width: 140px;
        margin-bottom: -2px;
    }
	.closeinfo_faq_html .logo_wrap span{
		font-size: 12px;
	}
	.closeinfo_faq_html .logo_wrap {
        padding-left: 15px;
        padding-top: 6px;
        color: #008344;
        font-weight: bold;
		padding-bottom: 0px;
    }
}
/*ロゴ終わり*/
/*KV*/
#closeinfo_faq .closeinfo {
    text-align: center;
    width: 95%;
    max-width:800px;
    margin: auto;
    padding: 22px 0;
	border-radius: 10px;
	/*box-shadow: 0px 0px 5px #bdbdbd;*/
}

#closeinfo_faq .closeinfo_bg{
background-image: url("../img/kv_bg.jpg");
background-color: #f1f2f599;
background-size: 85%;
padding: 50px 0 80px;
background-position: center 56%;
        margin: 0 auto
}
#closeinfo_faq .closeinfo p{
       font-size: 20px;
    font-weight: bold;
    margin: 10px auto 10px;
}
#closeinfo_faq .closeinfo .closeinfo_title{
         font-size: 32px;
        font-weight: bold;
    color: #ca1032;
}

#closeinfo_faq .closeinfo .closeinfo_middle{
        
}
#closeinfo_faq .closeinfo_box{
    width: 850px;
    margin: auto;
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 25px;
   
}
#closeinfo_faq .closeinfo_box >div p{
    background-color: #fff;
    box-shadow: 0px 1px 5px #c6c6c666;
    padding: 26px 46px 26px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}#closeinfo_faq .closeinfo_box >.closeinfo_member_an p{
    background-color: #ffeff1;
}#closeinfo_faq .closeinfo_box >.closeinfo_visitor_an p{
    background-color: #e9f3e8;
}
#closeinfo_faq .closeinfo_box >div{
    position: relative;
    width: 44%;
}
#closeinfo_faq .closeinfo_box >div p {
    padding: 22px 46px 22px 20px;
    text-align: center;
    line-height: 22px;
}
#closeinfo_faq .closeinfo_box >.closeinfo_member_an:before{
     content: '';
    width: 12px;
    height: 12px;
    border: 0;
    transform: rotate(135deg);
    position: absolute;
    top: -2%;
    bottom: 0;
    margin: auto 25px auto auto;
           border-top: solid 4px #ca1032;
    border-right: solid 4px #ca1032;
    right: 0;
}#closeinfo_faq .closeinfo_box >.closeinfo_visitor_an:before{
     content: '';
    width: 12px;
    height: 12px;
    border: 0;
    transform: rotate(135deg);
    position: absolute;
    top: -2%;
    bottom: 0;
    margin: auto 25px auto auto;
           border-top: solid 4px #2ba23a;
    border-right: solid 4px #2ba23a;
    right: 0;
}/*#closeinfo_faq .closeinfo_box >.closeinfo_visitor_an:before{
        border-top: solid 4px #2ba23a;
    border-right: solid 4px #2ba23a;
}
#closeinfo_faq .closeinfo_box >.closeinfo_member_an:before{
        border-top: solid 4px #ca1032;
    border-right: solid 4px #ca1032;
}*/
#closeinfo_faq .closeinfo_box >div a{
    font-weight:    bold;
    text-decoration: none;
}
/*#closeinfo_faq .closeinfo_box .closeinfo_member_an p{
    color: #ca1032;
}
#closeinfo_faq .closeinfo_box .closeinfo_member_an{
    border: 2px solid #ca1032;
}
#closeinfo_faq .closeinfo_box .closeinfo_visitor_an p{
    color: #2ba23a;
}#closeinfo_faq .closeinfo_box .closeinfo_visitor_an {
        border: 2px solid #2ba23a;
}*/
@media screen and (max-width:1100px) {
    #closeinfo_faq .closeinfo_box >div p {
    padding: 12px 46px 12px 20px;
    text-align: center;
    line-height: 22px;
}
    #closeinfo_faq .closeinfo_bg {
    padding: 10px 0 80px;

}
    #closeinfo_faq .closeinfo p {
        text-align: left;
    }
#closeinfo_faq p.closeinfo_title {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
}
	#closeinfo_faq .closeinfo {
		width: 90%;
	}
    #closeinfo_faq .closeinfo_box {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 25px;
}
}
@media screen and (max-width:768px) {
#closeinfo_faq .closeinfo_box >div:before{
    right: -14px;
}
    #closeinfo_faq .closeinfo_box >.closeinfo_member_an:before{
    width: 10px;
    height: 10px;
    border-top: solid 3px #ca1032;
    border-right: solid 3px #ca1032;
        right: -17px;
}  #closeinfo_faq .closeinfo_box >.closeinfo_visitor_an:before{
    width: 10px;
    height: 10px;
    border-top: solid 3px #2ba23a;
    border-right: solid 3px #2ba23a;
     right: -17px;
}
    #closeinfo_faq .closeinfo_box {
        top: 18px;
        
    }
    #closeinfo_faq .closeinfo p{
        text-align: left;
                font-size: 16px;
    }
    #closeinfo_faq .closeinfo p.closeinfo_title {
    font-size: 23px;
        line-height: 28px;
        text-align: center;
        margin: 20px auto 20px;
}    
    #closeinfo_faq .closeinfo p.closeinfo_title span{
    font-size: 23px;
}    #closeinfo_faq .closeinfo p.closeinfo_middle {
    font-size: 16px;
}

#closeinfo_faq .closeinfo_box >div {
    width: 48%;
}
    #closeinfo_faq .closeinfo_box >div:nth-of-type(n+3){
    margin-top: 10px;
    }}
/*KVおわり*/



#closeinfo_faq .closeinfo_faq_sec{
    width: 95%;
    max-width: 800px;
    margin: auto;
}#closeinfo_faq .closeinfo_faq_sec h2{
    text-align: center;
    font-size:28px;
}
/*アコーディオン*/

#closeinfo_faq .accordion-header {
  position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #ffeff1;
    z-index: 1;
    border-radius: 0;
}
#closeinfo_faq #closeinfo_member .accordion-header {
  position: -webkit-sticky; /* Safari対策 */
  position: sticky;
  top: 0;
  background:#ffeff1;
  z-index: 1;
    border-radius: 0;/* ヘッダーなどに隠れないように */
}
#closeinfo_faq #closeinfo_visitor .accordion-header {
  position: -webkit-sticky; /* Safari対策 */
  position: sticky;
  top: 0;
  background:#e9f3e8;
  z-index: 1;
    border-radius: 0;/* ヘッダーなどに隠れないように */
}
#closeinfo_faq section.accordion {
    padding: 0;
      width: unset;
    margin: 2em auto;
}
@media screen and (max-width: 1200px) {
    #closeinfo_faq section.accordion {
        margin-left: 20px;
        margin-right: 20px;
    }
}
#closeinfo_faq .accordion-btn {
      padding: 0;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
    font-size: 24px;
}
#closeinfo_faq .accordion-btn.active {
  border-bottom: 1px solid #bec7ce;
}

#closeinfo_faq .accordion-btn.active::after {
  transform: translateY(50%) rotate(315deg);
    
}
#closeinfo_faq .accordion-content {
   max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#closeinfo_faq .accordion-content.open {
  max-height: none; /* 高さ制限なしで開く */
}
#closeinfo_faq .c-setting-box {
  margin-bottom: 2em;
  padding: 1em 2em;
  border:1px solid #bec7ce;
  text-align: left;
    box-shadow: none;
}
    #closeinfo_faq .c-plan {
  width: 100%;
  margin: 2em auto;
  padding: .1em 2em 2em;
  box-sizing: border-box;
  background-color: #e4f2fc;
  text-align: center;
    border:1px solid #bec7ce;
}
@media screen and (max-width: 768px) {
    #closeinfo_faq #closeinfo_member h2, #closeinfo_faq #closeinfo_visitor h2 {
           padding: 5px 0 4px;
    font-size: 18px;
}
    #closeinfo_faq .price-list_subscribe table {
    border-right: none;
    border-left: none;
}
      #closeinfo_faq .c-setting-dl__small {
    display: block;
              width: 95%;
        margin: auto;
  }
    #closeinfo_faq section{
        overflow-x: visible;
        overflow-y: visible; 
    }
     #closeinfo_faq .accordion-btn { /* ヘッダーの高さに合わせる（pxは正確に） */
    position: sticky; /* 念のため再宣言 */
    padding: 8px;
    font-size: 20px;
  }
    #closeinfo_faq .accordion-header{
        top: 56px;
           z-index: 1;
    }
    #closeinfo_faq .accordion-btn::after {
    width: 14px;
    height: 14px;
    right: -7px;
}
        #closeinfo_faq section.accordion {
       width: 96%;
       margin: 0 auto 20px;
    }
    #closeinfo_faq section.c-setting-box{
                padding: 0;
        width: 96%;
        margin: 20px auto;
    }
}
/*アコーディオンおわり*/
#closeinfo_faq .question_bg{
       padding: 80px 0;
}
#closeinfo_faq .bic_ac {
	width:90%;
	margin: auto;
}
#closeinfo_faq .bic_ac .question_caution{
	font-size: 12px;
    padding-left: 0px;
    margin-top: 0px;
    line-height: 14px;
	
}
#closeinfo_faq .bic_ac .bic_acitem{
}
#closeinfo_faq .bic_ac .bic_acquestion{
	background-image: url("../img/closeinfo_faq_q.png");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 30px;
}
#closeinfo_faq .bic_ac .bic_acanswer{
	background-image: url("../img/closeinfo_faq_a.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 10px 54%;
}
#closeinfo_faq .bic_ac .bic_acquestion p{

}
#closeinfo_faq .bic_ac .bic_acanswer p{
	font-size: 17px;
	
}

#closeinfo_faq .bic_ac .bic_acitem+.bic_acitem {
}



#closeinfo_faq .bic_ac .bic_acitem {
position: relative;
overflow: hidden;
border-top: 1px solid #e0e0e0;
border-bottom: 1px solid #e0e0e0;
}
#closeinfo_faq .bic_ac .bic_acitem +.bic_acitem{
border-top: none;
}


#closeinfo_faq .bic_ac .bic_acitem>input {
display: none;
}

#closeinfo_faq .bic_ac .bic_acquestion {
position: relative;
cursor: pointer;
padding: 23px 61px 23px 56px;

}

	/* アコーディオン */
#closeinfo_faq .bic_ac .bic_acanswer {
position: absolute;
visibility: hidden;
transform: translateY(-100%);
border-top: none;
padding-top: 15px;
padding-bottom: 15px;
}

#closeinfo_faq .bic_ac .bic_acitem>input:checked+label+.bic_acanswer {
position: relative;
visibility: visible;
transform: translateY(0);
background-color: #f4f4f4;
padding: 23px 20px 23px 56px;
}


#closeinfo_faq .bic_ac .bic_acquestion::before {
        content: '';
        width: 16px;
        height: 16px;
        border: 0;
        border-top: solid 4px #ca1032;
    border-right: solid 4px #ca1032;
        transform: rotate(135deg);
        position: absolute;
        top: -12%;
        right: 0;
        bottom: 0;
        margin: auto 25px auto auto;

}

#closeinfo_faq .bic_ac .bic_acitem>input:checked+label>.bic_acquestion::before {
transform: translateY(50%) rotate(315deg);
	
}
	#closeinfo_faq .bic_ac .bic_acquestion {
    background-position: 10px 50%;
    background-size: 35px 35px;
}	#closeinfo_faq .bic_ac .bic_acquestion p,#closeinfo_faq .bic_ac .bic_acanswer p{
    margin: 0;
}
	#closeinfo_faq .bic_ac .bic_acquestion::before {
    right: -16px;
		top: -5%;
}
	#closeinfo_faq .bic_ac .bic_acquestion p {
    font-size: 17px;
    line-height: 21px;
}
	#closeinfo_faq .bic_ac .bic_acanswer {
   background-size: 35px 35px;
    background-position: 10px 54%;
}
	#closeinfo_faq .bic_ac .question_caution li{
    text-indent: -10px;
        padding-left: 10px;
        list-style: none;
}

@media screen and (max-width: 768px) {
    #closeinfo_faq .question_bg {
    padding: 0px 0;
}
    #closeinfo_faq .bic_ac .bic_acanswer {
    background-position: 13px 50%;
}
    #closeinfo_faq .bic_ac .bic_acquestion {
    background-position: 13px 50%;

}
       
    #closeinfo_faq .bic_ac .bic_acquestion::before {
    right: -3px;
    top: -5%;
}
    #closeinfo_faq .bic_ac {
    width: 95%;
    margin: auto;
}

    #closeinfo_faq .bic_ac .question_caution{
    margin-top: 3px;
	
}
    #closeinfo_faq .bic_ac .bic_acanswer {
    background-size: 28px 28px;
}
    #closeinfo_faq .bic_ac .bic_acquestion {
    background-size: 28px 28px;
}
    #closeinfo_faq .bic_ac .bic_acquestion p{
        font-size: 16px;
    }
    #closeinfo_faq .bic_ac .bic_acanswer p {
    font-size: 16px;
        line-height: 21px;
}
    #closeinfo_faq .bic_ac .bic_acquestion::before {
    width: 14px;
    height: 14px;
    border-top: solid 3px #ca1032;
    border-right: solid 3px #ca1032;
}
    #closeinfo_faq .bic_ac .bic_acquestion {
    padding: 12px 54px 12px 54px;
}
     #closeinfo_faq .bic_ac .bic_acitem>input:checked+label+.bic_acanswer {
    padding: 20px 20px 20px 54px;
}
    #closeinfo_faq .bic_ac .bic_acquestion p {
    line-height: 21px;
}
}
/*よくある質問おわり*/