@charset "utf-8";

#closeinfo2026 html,#closeinfo2026 body,#closeinfo2026 div,#closeinfo2026 span,#closeinfo2026 applet,#closeinfo2026 object,#closeinfo2026 iframe,#closeinfo2026 h1,#closeinfo2026 h2,#closeinfo2026 h3,#closeinfo2026 h4,#closeinfo2026 h5,#closeinfo2026 h6,#closeinfo2026 p,#closeinfo2026 blockquote,#closeinfo2026 pre,#closeinfo2026 a,#closeinfo2026 abbr,#closeinfo2026 acronym,#closeinfo2026 address,#closeinfo2026 big,#closeinfo2026 cite,#closeinfo2026 code,#closeinfo2026 del,#closeinfo2026 dfn,#closeinfo2026 em,#closeinfo2026 img,#closeinfo2026 ins,#closeinfo2026 kbd,#closeinfo2026 q,#closeinfo2026 s,#closeinfo2026 samp,#closeinfo2026 small,#closeinfo2026 strike,#closeinfo2026 strong,#closeinfo2026 sub,#closeinfo2026 sup,#closeinfo2026 tt,#closeinfo2026 var,#closeinfo2026 b,#closeinfo2026 u,#closeinfo2026 i,#closeinfo2026 center,#closeinfo2026 dl,#closeinfo2026 dt,#closeinfo2026 dd,#closeinfo2026 ol,#closeinfo2026 ul,#closeinfo2026 li,#closeinfo2026 fieldset,#closeinfo2026 form,#closeinfo2026 label,#closeinfo2026 legend,#closeinfo2026 table,#closeinfo2026 caption,#closeinfo2026 tbody,#closeinfo2026 tfoot,#closeinfo2026 thead,#closeinfo2026 tr,#closeinfo2026 th,#closeinfo2026 td,#closeinfo2026 article,#closeinfo2026 aside,#closeinfo2026 canvas,#closeinfo2026 details,#closeinfo2026 embed,#closeinfo2026 figure,#closeinfo2026 figcaption,#closeinfo2026 footer,#closeinfo2026 header,#closeinfo2026 hgroup,#closeinfo2026 menu,#closeinfo2026 nav,#closeinfo2026 output,#closeinfo2026 ruby,#closeinfo2026 section,#closeinfo2026 summary,#closeinfo2026 time,#closeinfo2026 mark,#closeinfo2026 audio,#closeinfo2026 video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
#closeinfo2026 article,#closeinfo2026 aside,#closeinfo2026 details,#closeinfo2026 figcaption,#closeinfo2026 figure,#closeinfo2026 footer,#closeinfo2026 header,#closeinfo2026 hgroup,#closeinfo2026 menu,#closeinfo2026 nav,#closeinfo2026 section{
	display:block
}
#closeinfo2026 body{
	line-height:1
}
#closeinfo2026 ol,#closeinfo2026 ul{
	list-style:none
}
#closeinfo2026 blockquote,#closeinfo2026 q{
	quotes:none
}
#closeinfo2026 blockquote:before,#closeinfo2026 blockquote:after,#closeinfo2026 q:before,#closeinfo2026 q:after{
	content:"";
	content:none
}
#closeinfo2026 table{
	border-collapse:collapse;
	border-spacing:0
}