/* Slider 
.js-slider .slick-dots button:hover{
  background-color: #cc3333;
}*/
body {
	background-color: #f5f0e4;
}
.js-slider img {
    height: auto;
    width: 100%;
    opacity: .4;
    transition: opacity .5s; 
}

.slick-center img {
    opacity: 1;
}

.js-slider figure{
	
		margin: 0 auto;

}
.slick-track img{
	width:622px;
	margin: 0 auto;
	
}
.mypattern .slick-slide {
	height: 380px!important;
    width: 658px!important;
	margin: auto;
}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.js-slider{
  position: relative;
}
.js-slider .slick-dots {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 0 0 0 auto;
  position: absolute;
  bottom: -10%;
	padding: 0;
}

.js-slider .slick-dots button{
  font-size: 0;
  border: 0;
  background-color: #c3c3c3;
  border-radius: 50%;
	max-width: 23px;
	max-height:23px;
  height: 100%;
  width: 100%;
}
.js-slider .slick-dots li {
  font-size: 0;
  line-height: 0;
	width:25px;
	height:25px;
}
.js-slider .slick-dots li + li {
  margin-left: 3%;
}
.js-slider .slick-active button {
  background-color: #4b4b4b;
}	
.arrow_box {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 714px;
	bottom: 210px;
	margin: auto;
	justify-content: space-between;
	
	
}


.slide-arrow {
filter: drop-shadow(0px 0px 3px #c3c3c3);
  bottom: 0;
  cursor: pointer;

  top: 0;
	z-index: 1;
	width: 52px;

}



@media screen and (max-width: 1100px) {
.js-slider figure{


}
	
	.js-slider .textarea {
  
}
}
@media screen and (max-width: 768px) {
		.js-slider .slick-dots li {
	width:15px;
	height:15px;
}

	.mypattern .slick-slide {
	height: 190px!important;
    width: 330px!important;
	margin: auto;
}
	.slick-track img {
    width: 320px;
    margin: 0 auto;
}
	.mypattern .slick-slide {
  height: 100%!important;

	margin: auto;
}
	.js-slider p {
		font-size: 14px;
	}
	.js-slider figure{
	height:100%;
}
	.js-slider .itemarea {
	background-color: #fff;
}

	

	.js-slider .slick-dots {
  bottom: -11%;

}
	.js-slider .slick-dots button{
  height: 100%;
  width: 100%;

}

	.js-slider .slick-active button {

}	
	.sliderWide {
	}
.js-slider {

	
}
.arrow_box {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 354px;
	bottom: 110px;
	margin: auto;
	justify-content: space-between;
	
	
}

.slide-arrow {
filter: drop-shadow(0px 0px 4px #393939);
  bottom: 0;
  cursor: pointer;

  top: 0;
	z-index: 1;
	width: 11%;

}

.js-slider .slick-dots li + li {
  margin-left: 2%;
}

}