@charset "utf-8";

#benefit2025 html,#benefit2025 body,#benefit2025 div,#benefit2025 span,#benefit2025 applet,#benefit2025 object,#benefit2025 iframe,#benefit2025 h1,#benefit2025 h2,#benefit2025 h3,#benefit2025 h4,#benefit2025 h5,#benefit2025 h6,#benefit2025 p,#benefit2025 blockquote,#benefit2025 pre,#benefit2025 a,#benefit2025 abbr,#benefit2025 acronym,#benefit2025 address,#benefit2025 big,#benefit2025 cite,#benefit2025 code,#benefit2025 del,#benefit2025 dfn,#benefit2025 em,#benefit2025 img,#benefit2025 ins,#benefit2025 kbd,#benefit2025 q,#benefit2025 s,#benefit2025 samp,#benefit2025 small,#benefit2025 strike,#benefit2025 strong,#benefit2025 sub,#benefit2025 sup,#benefit2025 tt,#benefit2025 var,#benefit2025 b,#benefit2025 u,#benefit2025 i,#benefit2025 center,#benefit2025 dl,#benefit2025 dt,#benefit2025 dd,#benefit2025 ol,#benefit2025 ul,#benefit2025 li,#benefit2025 fieldset,#benefit2025 form,#benefit2025 label,#benefit2025 legend,#benefit2025 table,#benefit2025 caption,#benefit2025 tbody,#benefit2025 tfoot,#benefit2025 thead,#benefit2025 tr,#benefit2025 th,#benefit2025 td,#benefit2025 article,#benefit2025 aside,#benefit2025 canvas,#benefit2025 details,#benefit2025 embed,#benefit2025 figure,#benefit2025 figcaption,#benefit2025 footer,#benefit2025 header,#benefit2025 hgroup,#benefit2025 menu,#benefit2025 nav,#benefit2025 output,#benefit2025 ruby,#benefit2025 section,#benefit2025 summary,#benefit2025 time,#benefit2025 mark,#benefit2025 audio,#benefit2025 video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
#benefit2025 article,#benefit2025 aside,#benefit2025 details,#benefit2025 figcaption,#benefit2025 figure,#benefit2025 footer,#benefit2025 header,#benefit2025 hgroup,#benefit2025 menu,#benefit2025 nav,#benefit2025 section{
	display:block
}
#benefit2025 body{
	line-height:1
}
#benefit2025 ol,#benefit2025 ul{
	list-style:none
}
#benefit2025 blockquote,#benefit2025 q{
	quotes:none
}
#benefit2025 blockquote:before,#benefit2025 blockquote:after,#benefit2025 q:before,#benefit2025 q:after{
	content:"";
	content:none
}
#benefit2025 table{
	border-collapse:collapse;
	border-spacing:0
}