@charset "utf-8";

body {
  margin: 0;
}

#lp20250501 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#532F0C;
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}

#lp20250501 h1,
#lp20250501 h2,
#lp20250501 h3,
#lp20250501 h4,
#lp20250501 strong
{ 
    margin: 0; padding: 0; border:0;
    font-family: "Noto Sans JP", sans-serif; font-size: 1em; 
    line-height: normal; font-weight: bold;
}

#lp20250501 p { margin: 0; padding: 0; border:0; }

#lp20250501 img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  border: 0;
}

#lp20250501 a {
  color: #999;
  padding: 0;
}

#lp20250501 a:hover {
  text-decoration: none;
}

#lp20250501 ul, #lp20250501 ol {
  margin: 0;
  padding: 0;
}

#lp20250501 ul li, #lp20250501 ol li {
  list-style: none;
}

#lp20250501 section {
  overflow-x: visible
}

#lp20250501 hr {
  color: #fff;
}

#lp20250501 .inner {
  max-width: 1300px;
  margin: 0 auto;
}

#lp20250501 .en {
  font-family: "Roboto", serif;
}

#lp20250501 .mv {
  width: 100%;
  background-size: cover;
  text-align: center;
  margin: 0;
}
#lp20250501 .mv img {
  width: 100%;
  max-width: 1300px;
}

#lp20250501 .text {
  color:#532F0C;
  font-size: 19px;
  text-align: left;
}
#lp20250501 .note {
  color:#532F0C;
  font-size: 14px;
  text-align: left;
}
#lp20250501 .note li {
  padding-left: 1em;
}
#lp20250501 .note li::before {
  content: "※";
  margin-left: -1em;
}
#lp20250501 .note2 {
  color:#532F0C;
  font-size: 19px;
  font-weight: 700;
  text-align: left;
}
#lp20250501 .note2 li {
  padding-left: 1em;
}
#lp20250501 .note2 li::before {
  content: "●";
  color:#D00E31;
  margin-left: -1em;
}
#lp20250501 .note2 li p {
  font-size:16px;
  font-weight: 500;
}

#lp20250501 .img_center {
  display: block;
  margin: 0 auto;
}

#lp20250501 .pc_br {
  display: block;
}

#lp20250501 .pc { display: block!important; }
#lp20250501 .sp { display: none!important; }

#lp20250501 .button {
    display: block;
    justify-self: center;
    background-color: #ec3838;
    color: white;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    text-align: center; 
    font-weight: bold; 
    width: 750px;
    max-width: 100%;
    padding: 20px 0;
}
#lp20250501 .highlighter1 {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  text-decoration-color:#ffff00;
  text-underline-offset: -0.2em;
  text-decoration-skip-ink: none;
}

#lp20250501 .col_red { color:#D00E31; }
#lp20250501 .col_brown { color:#532F0C; }
#lp20250501 .bgcol_red { background-color:#D00E31; }
#lp20250501 .bgcol_orange { background-color:#D0650E; }
#lp20250501 .bgcol_yellow { background-color:#D08F0E; }
#lp20250501 .fw500 { font-weight:500; }
#lp20250501 .fw700 { font-weight:700; }

#lp20250501 .section1 { background-color:#cc0033; position: relative; }
#lp20250501 .section1 .inner {
    padding:0 10px;
}
#lp20250501 .section1 .mv_button {
  position: absolute;
  right: 2.7vw;
  bottom: 2.6vw;
  width: 16vw;
}
@media (max-width: 768px) {
  #lp20250501 .section1 .mv_button {
    right: 7.6vw;
    top: 20.6vw;
    width: 38vw;
  }
}

#lp20250501 .section2 .inner {
    padding: 30px 0;
}

#lp20250501 .section3 .inner {
    padding:0 10px;
}

#lp20250501 .section4 { 
  background-image: url('../img/section4-bg.png');
  background-repeat: repeat;
}
#lp20250501 .section4 .inner {
  padding-top:40px;
  padding-bottom: 40px;
}
#lp20250501 .section4 .inner > div {
    max-width:900px; display: block; margin: 0 auto;
}

#lp20250501 .section4 .header {
    display: grid; grid-template-columns: 1fr 1fr; gap: 20px;
}
#lp20250501 .section4 .header .header_r {
    display: grid; grid-template-columns: 1fr; justify-items: center;
}
#lp20250501 .section4 .header .headertext {
    font-size:21px; line-height:35px; color: white;
}
#lp20250501 .section4 .header .headerspeechbubble {
    display: inline-grid;
    justify-content: center;
}
#lp20250501 .section4 .header {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px;
}

#lp20250501 .section4 .voice {
    display: grid; grid-template-columns: 1fr; 
}
#lp20250501 .section4 .voice > div {
    background-color: white;  border-radius: 15px; padding: 20px 20px; margin-top: 65px; position: relative;
}

#lp20250501 .section4 .voice .voicetitle {
    font-size:21px; color:#2BA23A; font-weight: 700;
}
#lp20250501 .section4 .voice .voicecomment {
    font-size:19px; font-weight:500; padding-top: 14px;padding-right: 170px;
    line-height: 32px; text-align: justify;
}
#lp20250501 .section4 .voice img {
    position: absolute; right: 20px; top: -50px; width: 150px;
}
#lp20250501 .section4 .voice .reverse {
    padding-right: 0;
    padding-left: 170px;
}
#lp20250501 .section4 .voice .reverse_img {
    left: 20px;
}


@media (max-width: 920px) {

  #lp20250501 .section4 .pc { display: none!important; }
  #lp20250501 .section4 .sp { display: block!important; }

  #lp20250501 .section4 .header {
    grid-template-columns: 1fr; gap: 20px;
  }
  #lp20250501 .section4 .header .headertext {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  #lp20250501 .section4 .inner {}
  #lp20250501 .section4 .inner > div {
    padding: 0px 20px;
  }

  #lp20250501 .section4 .voice { display: flex; gap:0; grid-template-columns: 1fr 1fr 1fr; }

  #lp20250501 .section4 .voice > div { width: 85%; margin-top: 45px; }

  #lp20250501 .section4 .voice .voicecomment { padding-right: 0px; padding-top: 1px; font-size:16px; line-height:30px; }
  #lp20250501 .section4 .voice .voicetitle {
      font-size:18px;
      line-height: 28px;
      padding-right: 100px;
      height: 80px;
  }
  #lp20250501 .section4 .voice img {
      width: 100px;
      top: -23px;
      right: 5px;
  }
  #lp20250501 .section4 .voice .reverse {
      padding-left: 0;
  }
  #lp20250501 .section4 .voice .reverse_img {
      left: unset;
  }

}

@media (max-width: 768px) {

  #lp20250501 .pc { display: none!important; }
  #lp20250501 .sp { display: block!important; }
  #lp20250501 .pc_br { display: inline; }

  #lp20250501 section { overflow-x: hidden; }

  #lp20250501 img {
    width: 100%;
    max-width: 100%;
  }

  #lp20250501 .inner {
    padding: 0px 10px 0px 10px;
  }

  #lp20250501 .section9 .inner {
    padding: 0px;
  }

}


#lp20250501 .scroll-hint-text {
  display:none;
}
#lp20250501 .scroll-hint-icon {
  width: 99px;
  height: 99px;
  border-radius:20px;
  background: rgba(0, 0, 0, .35);
}
#lp20250501 .scroll-hint-icon:before {
  width: 69px;
  height: 62px;
  background-image: url(../img/scroll-hint-icon.png);
}
#lp20250501 .scroll-hint-icon:after {
  display:none;
}
#lp20250501 .scroll-hint-icon-wrap.is-active .scroll-hint-icon {
  opacity: 1;
}

#lp20250501 .widthfull {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}


#lp20250501 .section9 .inner *{
  font-weight: 700;
}

#lp20250501 .section9_sub{
  display: grid;
  max-width: 970px;          
  padding: 8px;
  margin:auto;
  grid-template-rows: auto 1fr;
  grid-template-columns: 144px 1fr 144px;
  text-align: center;
}

#lp20250501 .section9_sub #itemA {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 35px;
    font-weight: 500;
}
#lp20250501 .section9_sub #itemA > *{
   background: linear-gradient(transparent 60%, #FFFF00 30%);
}

#lp20250501 .section9_sub #itemB {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  font-size: 22px;
  margin: 7px auto;
}
#lp20250501 .section9_sub #itemC {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

#lp20250501 .section9 .plan{
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  margin: 20px auto 0 auto;
}

#lp20250501 .section9 .plan::after ,
#lp20250501 .section9 .plan::before{
 content: "";
 width: 167px;
 height: 2px;
 background-color: #2BA23A;
 display: block;
 margin: 0 30px;
 border-radius: 10px;
}

#lp20250501 .section9_plan_list{
display: grid;
grid-template-columns: auto auto auto;
font-size: 19px;
text-align: center;
width: fit-content;
margin: 0 auto;
}

 #lp20250501 .section9_plan{
  width: 285px;
  display: flex;
  flex-flow: column;
  margin: 10px 0;
  padding: 0 11px;
 }

#lp20250501 .section9 .plan_type{
  background-color: #ffffff;
  width: 134px;
  height: 46px;
  border-radius: 92px;
  margin: 20px auto -23px auto;
  z-index: 1;
  box-shadow: 0px -4px 20px rgb(0 0 0 / 20%);
}

#lp20250501 .section9 .plan_otoku{
  color: #ffffff;
  font-size: 25px;
  border-radius: 49px 49px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;
}

#lp20250501 .section9 .plan_text{
  background-color: #ffffff;
  height:fit-content;
  padding: 7px;
  padding-bottom: 24px;
  border-radius: 0 0 49px 49px;
}

#lp20250501 .section9 .plan_text_bold{
  font-size: 1.15em;
  width: fit-content;
  border-bottom: solid 2px #532F0C;
  margin: 10px auto;
}

 #lp20250501 .section9 table{
  margin: 0 auto;
  border-spacing: 0;
}

#lp20250501 .section9 .plan_text td{
  padding: 11px 2px 12px 2px;
  text-align: end;
  vertical-align: text-bottom;          
  border-bottom: solid 2px #D9D9D9;         
}

#lp20250501 .section9 .plan_text tr:last-child td{
  border-bottom: none;
  padding-top: 9px;
  padding-bottom: 5px;
}


#lp20250501 .section9 .plan_text .number {
  font-size: 1.85em;
  font-weight: 700;
}

#lp20250501 .section9 .plan_text .unit{
  text-align: start;
  min-width: 55px;
}

#lp20250501 .section9 .inner > div {
background-image: url('../img/section9_bg.png');
background-size: cover;
background-repeat: no-repeat;
background-position-y: top;
padding-top:40px;
padding-bottom: 40px;
}

@media (max-width: 920px) {

  #lp20250501 .section9 .inner {
    padding: 0px;
  }

  #lp20250501 .section9 h2 {
    width: 90%;
    margin: 0 auto;
  }

  #lp20250501 .section9_sub{
    max-width: 360px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 114px;
  } 
  #lp20250501 .section9_sub #itemA {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 21px;
    white-space:nowrap;
  }
  #lp20250501 .section9_sub #itemA span:first-child {
    font-size: 25px;
  }
  #lp20250501 .section9_sub #itemB {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 17px;
    line-height: 17px;
  }
  #lp20250501 .section9_sub #itemB h4 {
    padding-bottom: 8px;
  }
  #lp20250501 .section9_sub #itemC {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
  }
  #lp20250501 .section9 .plan{
    display: none;
  }
  #lp20250501 .section9_plan_list{
  font-size: 16px;
  }

  #lp20250501 .section9 .plan_text{   
    padding: 6px;
    padding-bottom: 20px;
  }
  #lp20250501 .section9 .plan_text .img_center{
    width: 80px;
  }

  #lp20250501 .section9 .inner > div {
    background-image: url('../img/section9_bg_sp.png');
  }

  #lp20250501 .section9_plan{
    width: 243px;
    margin: 10px 0;
    padding: 0 11px;
   }

   #lp20250501 .section9_plan p{
    margin: 5px auto;
  }
   

  #lp20250501 .section9 .plan_type{
    width: 114px;
    height: 39px;
    margin: 5px auto -19px auto;
  }

  #lp20250501 .section9 .plan_otoku{
    font-size: 21px;
    padding-top: 25px;
    padding-bottom: 9px;
  }

  #lp20250501 .section9 .plan_text_bold{
    font-size: 1.2em;
    margin: 5px auto;
  }
  
  #lp20250501 .section9 .plan_text tr:last-child td{
    padding-bottom: 10px;
  }
}



#lp2025common {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#532F0C;
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}

#lp2025common h1,
#lp2025common h2,
#lp2025common h3,
#lp2025common h4,
#lp2025common strong
{ 
    margin: 0; padding: 0; border:0;
    font-family: "Noto Sans JP", sans-serif; font-size: 1em; 
    line-height: normal; font-weight: bold;
}

#lp2025common p { margin: 0; padding: 0; border:0; }

#lp2025common img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  border: 0;
}

#lp2025common a {
  color: #999;
  padding: 0;
}

#lp2025common a:hover {
  text-decoration: none;
}

#lp2025common a.button {
  text-decoration: none;
  color: white;
  background: linear-gradient(180deg, #FF002E 0%, #9A0516 100%);
  max-width: 360px;
  max-height: 60px;
  display: block;
  font-size:22px;
  font-weight: 700;
  margin: 0 auto;
  position: relative;
  border-radius: 30px;
  padding: 10px 0;
}

#lp2025common a.button::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% + 1px);
    right: 30px;
    width: 8px;
    height: 8px;
    border-right: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    transform: translateY(-50%) rotate(-45deg);
}

#lp2025common ul, #lp2025common ol {
  margin: 0;
  padding: 0;
}

#lp2025common ul li, #lp2025common ol li {
  list-style: none;
}

#lp2025common section {
  overflow-x: visible
}

#lp2025common hr {
  color: #fff;
}

#lp2025common .inner {
  max-width: 1300px;
  margin: 0 auto;
}

#lp2025common .en {
  font-family: "Roboto", serif;
}

#lp2025common .col_red { color:#D00E31; }
#lp2025common .col_brown { color:#532F0C; }
#lp2025common .bgcol_red { background-color:#D00E31; }
#lp2025common .bgcol_orange { background-color:#D0650E; }
#lp2025common .bgcol_yellow { background-color:#D08F0E; }
#lp2025common .fw500 { font-weight:500; }
#lp2025common .fw700 { font-weight:700; }

#lp2025common .mv {
  width: 100%;
  background-size: cover;
  text-align: center;
  margin: 0;
}

#lp2025common .section1 {
    color:green; 
}

#lp2025common .section2 {
    background: #D00E31;
}
#lp2025common .section2 .inner {
    padding:0px;
}
#lp2025common .section2 .inner > div {
    max-width:900px; display: block; margin: 0 auto;
}
#lp2025common .section2 .section2text1 {
    font-family: Noto Sans JP;
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center; color:#532F0C;
}
#lp20250501 .section2 .question_text {
  font-size: 1.25em;
  }

#lp2025common .section3 { 
    background-color:#E7F9D2; 
    text-align: center;
}
#lp2025common .section3 .inner > div {
    max-width:650px; display: block; margin: 0 auto; padding: 30px 0;
}

#lp2025common .section4 {
  background-color: #24b8f6;
  background: url('../img/common-section4-banner_bg.png') no-repeat top center;
  background-size: cover;
  text-align: center;
  width: 100%;
}
#lp2025common .section4 .inner > div {
    max-width:650px; display: block; margin: 0 auto; padding: 30px 0;
}
#lp2025common .section4 img {
  width: 100%;
  max-width: 1300px;
}

#lp2025common .section_banner3 {
  background: url('../img/common-section4-main_bg2.jpg') no-repeat top center;
  background-size: cover;
  text-align: center;
  width: 100%;
}
#lp2025common .section_banner3 .inner > div {
    max-width:650px;
    display: block; margin: 0 auto;
    padding-top: 20px;
}
@media (max-width: 900px) {
  #lp2025common .section_banner3 .inner > div {
    max-width:fit-content;
  }
}

#lp2025common .note {
  color:#532F0C;
  font-size: 14px;
  text-align: left;
}
#lp2025common .note li {
  padding-left: 1em;
}
#lp2025common .note li::before {
  content: "※";
  margin-left: -1em;
}
#lp2025common .note2 {
  color:#532F0C;
  font-size: 19px;
  font-weight: 700;
  text-align: left;
}
#lp2025common .note2 li {
  padding-left: 1em;
}
#lp2025common .note2 li::before {
  content: "●";
  color:#D00E31;
  margin-left: -1em;
}
#lp2025common .note2 li p {
  font-size:16px;
  font-weight: 500;
}

#lp2025common .img_center {
  display: block;
  margin: 0 auto;
}

#lp2025common .highlighter2 {
  text-decoration: underline;
  text-decoration-thickness: 1.2em;
  text-decoration-color:#ffff00;
  text-underline-offset: -1.0em;
  text-decoration-skip-ink: none;
}

#lp2025common .widthfull {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

#lp2025common .pc { display: block!important; }
#lp2025common .sp { display: none!important; }

#lp2025common .section5 {
    background-color: #E7F9D2;
}
#lp2025common .section5 .inner {
    padding-top:40px; padding-bottom:40px; 
}
#lp2025common .section5 .inner > div {
    max-width: 900px;
    display: block;
    margin: 0 auto;
}


#lp2025common .section5 .subtitletext {
  display: flex; justify-content: center;  font-weight: 700; font-size: 21px; line-height: 28px; letter-spacing: 0%; text-align: center; color:#2BA23A;
}
#lp2025common .section5  .subtitletext::before {
  content: "\\"; font-size: 48px; font-weight: 500; line-height: 48px; font-family: 'Noto Sans JP'; color:#532F0C;
}
#lp2025common .section5 .subtitletext::after {
  content: "/"; font-size: 48px; font-weight: 500; line-height: 48px; font-family: 'Noto Sans JP'; color:#532F0C;
}

#lp2025common .section5 .plan {
    display: flex; 
    padding: 10px 0;
    font-size:22px; 
    line-height: 28px; 
    color: #fff;
    justify-content: space-between;
}

#lp2025common .section5 .plan_list{
  max-width: 300px;
  margin-top: 10px;
}
#lp2025common .section5 .plan_list:nth-child(2){
  margin-left: 10px;
  margin-right: 10px;
}


#lp2025common .section5 .plan_list > .month{
    display: grid; 
    grid-template-columns: 0.5fr auto 1fr;
    margin: 15px 0 0 0;
}


#lp2025common .section5 .plan .monthly_fee{
  color: #532F0C;
  font-size: 14px;
  writing-mode: vertical-rl;
  text-align: end;
  height: 47px;
}

#lp2025common .section5 .plan .campaign{
  position: relative;
  color: #D00E21;
  font-size: 17px;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  line-height: 22px;
  padding: 10px 5px;
  margin:  15px 10px 0px 10px;
  font-weight: 600;
}

#lp2025common .section5 .plan .plan_list:last-child .campaign{
  font-size: 16px;
}


#lp2025common .section5 .plan .campaign::before{
  content: "";
  position: absolute;
  top: -28px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}


#lp2025common .section5 .plan .campaign > p:nth-child(2){
  font-size: 25px;
  margin: 18px auto 15px auto;
  white-space: nowrap;
}

#lp2025common .section5 .plan .campaign > p:nth-child(2) .yen{
  font-size: 2em;
  font-weight: 700;
}

#lp2025common .section5 .plan .campaign > p:nth-child(3){
  font-size: 22px;
  line-height: 18px;
}

#lp2025common .section5 .plan .campaign_sub{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
  white-space: nowrap;
}

#lp2025common .section5 .plan .plan_list:last-child .campaign_sub{
  font-size: 15px;
}

#lp2025common .section5 .plan .plan_list:last-child .campaign_sub .yen{
  font-size: 25px;
}
 
#lp2025common .section5 .plan .plan_list:last-child .campaign_sub .taxinc{
   font-size: 13px;
}

#lp2025common .section5 .campaign_sub .arrow {
  position: relative; 
  width: 11px; 
  height: 25px; 
  background: #D00E21;
  margin:auto 15px auto 10px;
}

#lp2025common .section5 .campaign_sub .arrow:after{
  position: absolute;
  content: "";
  top: -8px;
  right: -30px;
  border: 20px solid;
  border-color:transparent;
  border-left: 15px solid #D00E21;
}

#lp2025common .section5 .campaign_sub p:last-child{
  font-size: 25px;
}
#lp2025common .section5 .campaign_sub > p:last-child  span{
    font-size: 2em;
    font-weight: 700;
    padding-left: 2px;
    padding-right: 2px;
}

#lp2025common .section5 .plan .plantitle {
    border-radius:50px; width:94px; height:94px; text-align:center; line-height: 28px; font-weight: 600;
    display: inline-grid; align-content: center;
}
#lp2025common .section5 .plan .plantitle .year {
    font-size:35px;
}
#lp2025common .section5 .plan .planprice {
  display: inline-grid;
  align-content: center;
  justify-items: end;
  font-feature-settings: "palt";
  white-space: nowrap;
  width: fit-content;
}
#lp2025common .section5 .plan .planprice .yen {
  font-size:1.6em;font-weight:700; font-family:Roboto; padding: 0 2px;
}
#lp2025common .section5 .plan .planprice .taxinc {
  font-size:0.9em;
}
#lp2025common .section5 .etctitle {
    display: flex; 
    align-items: center;
    text-align: center; font-size: 23px; font-weight: 700; padding: 10px 0;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 700;
}
#lp2025common .section5 .etctitle:before,
#lp2025common .section5 .etctitle:after {
    content: "";
    height: 3px;
    flex-grow: 1;
    background-color: #2BA23A;
    border-radius: 10px;
}
#lp2025common .section5 .etctitle:before { margin-right: 20px; }
#lp2025common .section5 .etctitle:after  { margin-left: 20px; }
#lp2025common .section5 .etc1 {
    display: grid; grid-template-columns: 0.333fr 0.333fr 0.333fr; gap: 19px; padding: 10px 0;
    font-size:18px; line-height: 28px;
    text-align:left;
}
#lp2025common .section5 .etc1 > h4 {
    padding: 10px;
    background-color: none; padding: 0 10px; border-left: #2BA23A solid 3px;
}
#lp2025common .section5 .etc1 .etc1title {
    font-size:22px;
    font-weight: 700;
}
#lp2025common .section5 .etc1 .etc1price {
    font-size:22px;
    font-weight: 700;
}
#lp2025common .section5 .etc1 .etc1price span {
    font-size:0.81em;
    white-space: nowrap;
}
#lp2025common .section5 .etc1 .etc1note {
    font-size:0.76em;
    padding-right: 10px;
}

#lp2025common .section5 .etc2 {
  display: grid; grid-template-columns: 0.5fr 0.5fr; gap: 25px; padding: 10px 0;
  font-size:17px; line-height: 28px;
  text-align:left;
}
#lp2025common .section5 .etc2 > div {
  background-color: none; padding: 0 10px; border-left: #2BA23A solid 3px;
  
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 20px;
  
}
#lp2025common .section5 .etc2 .etc2title {
  font-size:22px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#lp2025common .section5 .etc2 .etc2title span{
  white-space: nowrap;
}

#lp2025common .section5 .etc2 .etc2title span:last-child {
  font-size:18px;
}
#lp2025common .section5 .etc2 .etc2note {
  font-size:14px;
}

#lp2025common .section5 .note2 li p {
  margin:5px auto 15px auto;
  margin-left: 1em;
}

#lp2025common .section5 .note2 li p::before {
  content: "※";
  margin-left: -1em;
}


@media (max-width: 900px) {
  #lp2025common .section5 .inner > div {
    padding-left: 10px; padding-right: 10px;
  }
  #lp2025common .section5 .plan{
    flex-flow: column;
    width: fit-content;
    margin: 0 auto;
  }

  #lp2025common .section5 .plan_list{
    margin-bottom: 12px;
    height: fit-content;
  }

}

@media (max-width: 768px) {

  #lp2025common a.button { max-width: 290px; } 

  #lp2025common .section5 .subtitletext{
    border-bottom: solid 3px #333;
    position: relative;
    background-color: #E7F9D2;
    font-size: 15px;
    width:240px;
    margin: 0 24px;
    text-align: center;
    white-space: nowrap;
  }

  #lp2025common .section5 .plan .plantitle {
    width:71px; 
    height:71px; 
    line-height: 22px; 
    font-weight: 700;
    font-size: 16px;
  }
  #lp2025common .section5 .plan .plantitle .year {
    font-size:1.87em;
  }

  #lp2025common .section5 .plan_list > .month {
    grid-template-columns: 73px auto 1fr;
  }

  #lp2025common .section5 .plan .monthly_fee{
      font-size: 16px;
      text-align: end;
      height: 35px;
  }
  #lp2025common .section5 .plan .planprice .yen{
    font-size: 38px;
  }

  #lp2025common .section5 .plan .plan_list:last-child .campaign{
    font-size: 16px;
  }

  #lp2025common .section5 .plan .plan_list:last-child .campaign_sub{
    font-size: 15px;
    line-height: 17px;
  }
  #lp2025common .section5 .plan .plan_list:last-child .campaign_sub .yen{
    font-size: 25px;
  }

  #lp2025common .section5 .plan .campaign > p:nth-child(2){
    margin: 7px auto ;
  }

  #lp2025common .section5 .plan .campaign > p:nth-child(2) .yen {
    font-size: 40px;
  }

  #lp2025common .section5 .campaign_sub .arrow {
    
    width: 10px; 
    height: 26px; 
    background: #D00E21;
    margin:auto 17px auto 7px;
  }

  #lp2025common .section5 .campaign_sub .arrow:after{
    position: absolute;
    content: "";
    top: -7px;
    right: -31px;
    border:20px solid;
    border-color:transparent;
    border-left: 13px solid #D00E21;
  }

  #lp2025common .section5  .subtitletext::before {
    content:"";
    position: absolute;
    width: 16px;
    height: 18px;
    background: #E7F9D2;
    bottom: -18px;
    left: 62px;
    border-right: 3px solid #333;
    transform: skew(320deg);
    z-index: 1;
  }

  #lp2025common .section5 .subtitletext::after {
    content: "";
  }

  #lp2025common .section5  .campaign_sp {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns:  1fr 90px;
    align-items: center;
  }

  #lp2025common .section5 .campaign_sp p:first-child{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  #lp2025common .section5 .campaign_sp p:last-child{
    font-size: 16px !important;
    text-align: start ;
  }

  #lp2025common .section5 .campaign_sp .money{
    writing-mode: vertical-rl;
    font-size: 16px;
  }
  #lp2025common .section5 .note{
    font-size: 12px;
    line-height: 20px;
  }

  #lp2025common .section5 .etctitle {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 22px;
  }
  #lp2025common .section5 .etctitle:before {
    margin-right: 10px;
  }
  #lp2025common .section5 .etctitle:after {
    margin-left: 10px;
  }
  #lp2025common .section5 .etc1 h4 {
    display: grid;
    grid-template-columns: 1fr auto; 
    font-size: 16px;
    text-align: end;
    gap: 2px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  #lp2025common .section5 .etc1 h4 p:first-child{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    text-align: start;
  }

  #lp2025common .section5 .etc2{
    font-size: 12px;
    line-height: 20px;
  }


  #lp2025common .section5 .etc1 .etc1title,
  #lp2025common .section5 .etc1 .etc1price,
  #lp2025common .section5 .etc2 .etc2title{
    font-size: 16px;
    
  }
  #lp2025common .section5 .etc2 .etc2title {
    display: grid;
    grid-template-columns: 1fr auto  100px;
    text-align: end;
  }

  #lp2025common .section5 .etc2 .etc2title span:first-child{
    text-align: start;
  }

  #lp2025common .section5 .etc2 .etc2title span:last-child {
    white-space: nowrap;
    font-size: 13px;
    
  }
  #lp2025common .section5 .etc1 > h4,
  #lp2025common .section5 .etc2 > div{
    border-left: none;
  }
  #lp2025common .section5 .etc1 > h4 { padding:0; }
  #lp2025common .section5 .etc2 > div{
    border-top: solid 1px #91C31D;
    padding-top: 11px;
    padding-left: 0px;
  }
  #lp2025common .section5 .etc2 div p:last-child{
    margin-top: 7px;
  }
  #lp2025common .section5 .etc2 > div{
    margin-bottom: 7px;
  }

  #lp2025common .section5 .note2{
    font-size: 15px;
    padding-top: 7px;
  }
  #lp2025common .section5 .note2 li strong {
    line-height: 24px;
  }
  #lp2025common .section5 .note2 li p {
    font-size: 12px;
    line-height: 19px;
    margin:5px auto 15px auto;
    margin-left: 1em;
  }

}

#lp2025common .section_map .inner { padding: 40px 0; }

#lp2025common .section_map .inner > div {
    max-width:900px; display: block; margin: 0 auto;
}
#lp2025common .section_map .preflist1 h3 { border-bottom: 3px solid #D00E31; display: block; font-size:25px; padding-bottom: 9px; margin-bottom: 9px; }
#lp2025common .section_map .preflist1 h4 { font-size:17px; font-weight: 500; line-height: auto; }
#lp2025common .section_map .preflist1 {
    padding-top: 20px;
}
#lp2025common .section_map .preflist1 {
  display: grid;
  grid-template-columns: 1.1fr 0.8fr 1.1fr;
  gap: 20px 25px;
  grid-auto-flow: row;
  grid-template-areas:
    "p1 p2 p7"
    "p1 p3 p7"
    "p1 p4 p5"
    "p8 p6 .";
}
#lp2025common .section_map .pref11 { grid-area: p1; }
#lp2025common .section_map .pref12 { grid-area: p2; }
#lp2025common .section_map .pref13 { grid-area: p3; }
#lp2025common .section_map .pref14 { grid-area: p4; }
#lp2025common .section_map .pref15 { grid-area: p5; }
#lp2025common .section_map .pref16 { grid-area: p6; }
#lp2025common .section_map .pref17 { grid-area: p7; }
#lp2025common .section_map .pref18 { grid-area: p8; }
#lp2025common .section_map .pref21 { grid-area: p21; }
#lp2025common .section_map .pref22 { grid-area: p22; }
#lp2025common .section_map .pref23 { grid-area: p23; }
#lp2025common .section_map .pref25 { grid-area: p25; }

#lp2025common .section_map .preflist2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px 25px;
  grid-template-areas:
  "p21 p22 p25"
  "p21 p23 .";
}
#lp2025common .section_map .preflist2 h3 { border-bottom: 3px solid #D00E31; display: block; font-size:25px; padding-bottom: 9px; margin-bottom: 9px; }
#lp2025common .section_map .preflist2 h4 { font-size:17px; font-weight: 500; line-height: auto; }


@media (max-width: 920px) {
  #lp2025common .section2 .inner > div,
  #lp2025common .section_map .inner > div {
    padding-left: 10px; padding-right: 10px;
  }
}

@media (max-width: 768px) {

  #lp2025common .pc { display:none!important; }
  #lp2025common .sp { display: block!important; }
  #lp2025common .pc_br { display: inline; }

  #lp2025common img { width: 100%; }
  #lp2025common p { padding: 0px; }
  #lp2025common section { overflow-x: hidden; }

  #lp2025common .section1 .inner { padding: 0px 16px; }
  #lp2025common .section2 .inner { padding: 0px 16px; }
  #lp2025common .section3 .inner { padding: 0px 16px; }
  #lp2025common .section4 .inner { padding: 0px 16px; }
  #lp2025common .section5 .inner { padding: 40px 16px; padding-bottom: 25px; }
  #lp2025common .section_map .inner { padding: 40px 40px; padding-bottom: 60px; }

  #lp2025common .section5 h2 {
    width: 83%;
    margin: 0 auto;
  }

  #lp2025common .section5 .plan {
    grid-template-columns: 1fr; gap: 25px; padding: 10px 0;
  }
  #lp2025common .section5 .plan > div {
    margin: 0 auto;
    width: 288px;
  }
  #lp2025common .section_map .preflist1, 
  #lp2025common .section_map .preflist2, 
  #lp2025common .section5 .etc1, 
  #lp2025common .section5 .etc2 {
    grid-template-columns: 1fr;
    grid-template-areas: none;
  }
  #lp2025common .section5 .etc1 { row-gap: 4px; }
  #lp2025common .section5 .etc2 { padding-top: 0; gap: 17px; }
  #lp2025common .section5 .etc2 p.etc2note { font-size: 12px; text-align: right; }
  
  #lp2025common .section_map .pref11 { grid-area:unset; }
  #lp2025common .section_map .pref12 { grid-area:unset; }
  #lp2025common .section_map .pref13 { grid-area:unset; }
  #lp2025common .section_map .pref14 { grid-area:unset; }
  #lp2025common .section_map .pref15 { grid-area:unset; }
  #lp2025common .section_map .pref16 { grid-area:unset; }
  #lp2025common .section_map .pref17 { grid-area:unset; }
  #lp2025common .section_map .pref18 { grid-area:unset; }
  #lp2025common .section_map .pref21 { grid-area:unset; }
  #lp2025common .section_map .pref22 { grid-area:unset; }
  #lp2025common .section_map .pref23 { grid-area:unset; }
  #lp2025common .section_map .pref25 { grid-area:unset; }
 
  #lp2025common .section_map .preflist1 { padding-top: 0px; }
  #lp2025common .section_map .preflist1 h3 { font-size:20px; }
  #lp2025common .section_map .preflist1 h4 { font-size:14px; }
  #lp2025common .section_map .preflist2 h3 { font-size:20px; }
  #lp2025common .section_map .preflist2 h4 { font-size:14px; }

  #lp2025common .section_banner3 {
    background: url('../img/common-section4-main_bg2sp.jpg') no-repeat top center;
    background-size: cover;
  }

}


#lp2025common .fixed {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}
#lp2025common .fixed .fixed_inner {
    display: grid;
    grid-template-columns: 40% 1fr 0.1fr;
    align-items: center;
    gap: 20px;
    position: static;
    width:100%;
    background: #ffffff9e;
}
#lp2025common .fixed .btn {
    display: inline-grid; 
    justify-content: end;
    pointer-events: all;
    margin-left: 10px;
}
#lp2025common .fixed .msg {
    display: grid;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 0px 0px 3px #fff;
}
#lp2025common .fixed_inner_row1 {
    position:relative;
    pointer-events: all;
}
#lp2025common .fixed_inner_row1 a {
    display: block;
    margin: 0;
    padding: 0;
}
#lp2025common .fixed_inner_row1 .closebutton {
    position: absolute;
    top: -15px;
    left: -15px;
    z-index:2;
}
#lp2025common .fixed_inner_row1 .img {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
#lp2025common .closed {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    background: #fff; 
    border-radius: 50%;
}
#lp2025common .closed::before, #lp2025common .closed::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 15px;
    background: #333;
    border-radius: 2.5px;
}
#lp2025common .closed::before { transform: translate(-50%,-50%) rotate(45deg); }
#lp2025common .closed::after { transform: translate(-50%,-50%) rotate(-45deg); }

#lp2025common .gotop {
    width: 73px;
    pointer-events: all;
}
#lp2025common .gotop a {
    display: block;
}

@media (max-width: 768px) {

    #lp2025common .fixed_inner_row1 {
       width: 146px;
    }

    #lp2025common .fixed {
    }

    #lp2025common .fixed .fixed_inner {
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
      gap: 0;
    }
    #lp2025common .fixed .fixed_inner .btn {
      max-width:357px;
      padding-top: 10px;
    }
    #lp2025common .fixed .msg {
      font-size: 13px;
      padding: 4px 0;
    }
    #lp2025common .gotop {
      display: block;
      position: fixed;
      z-index: 1111;
      right: 10px;
      bottom: 110px;
      width: 37px;
    }
    #lp2025common .gotop a {
      width: 37px;
    }
    #lp2025common .fixed_inner_row1 .closebutton {
    }
}



#lp2025common .section5 .etc3 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 705px;
  margin: 20px auto;
}
#lp2025common .section5 .etc3 .title {
padding-bottom: 9px;
margin-bottom: 14px;
border-bottom: 3px solid #2BA23A;
font-size: 17px;
font-weight: 700;
}
#lp2025common .section5 .etc3 .comment { grid-row: auto / span 2; align-self: end; font-size:14px; }

@media (max-width: 768px) {
  #lp2025common .section5 .etc3 {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 14px;
      padding-top: 0px;
      margin-top: 5px;
  }
  #lp2025common .section5 .etc3 .title {
      text-align: center;
      width: 100%;
      font-size:14px;
      border-bottom: 1px solid #91C31D;
      margin: 10px auto;
  }
  #lp2025common .section5 .etc3 .comment { font-size:12px; line-height: 19px; }

  #lp2025common .section5 .etc3 img.sp {
      max-width: 338px;
      margin-top: 10px;
  }
}



#lp20250501 .section2 *{
  color: #D00E31;
  font-size: 30px;
}

#lp20250501 .section2 .inner > *{
  margin: 0px auto;
  text-align: center;
  padding-left: 10px; padding-right: 10px;
}

#lp20250501 .section2 .title_text{
  color: #ffffff;
  background-color: #D00E31;
  width: fit-content;
  padding: 2px 10px;
  margin: -1px auto -10px auto;
  font-size: 38px;
}

#lp20250501 .section2 .text{
  font-size: 4em;
  width: fit-content;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

#lp20250501 .section2 h2 > .text{
  font-size: 5em;
  margin: 0 30px 0 auto;
}

#lp20250501 .section2 .text_sub{
  font-size: 0.46em;
  width: fit-content;
  font-weight: 500;
  color: #532F0C;
  margin: 20px auto;
  
}

#lp20250501 .section2 .question{
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  font-weight: bold;
  margin: 25px auto ;
  margin-bottom:20px;
  color:#532F0C ;
}

#lp20250501 .section2 .question::after ,
#lp20250501 .section2 .question::before {
  content:"";
  width: 150px;
  height: 3px;
  background-color: #2BA23A;
  display: block;
  margin: 0 10px;
  border-radius: 10px;
}

#lp20250501 .section2 .point {
  font-style: italic;
  height: fit-content;
  font-weight: 600;
  background: linear-gradient(175deg, transparent 0%, transparent 55%,#FFFF00 55%, #FFFF00 100%);
  padding: 0 20px;
  width: fit-content;
  margin: 35px auto 0;
}

#lp20250501 .section2_sub{
  display: flex;
  align-items: flex-start;
  width: fit-content;
  font-size: 20px;
}

#lp20250501 .section2_sub img{
  height: fit-content;
}

#lp20250501 .section2 .triangle{
  display: flex;
  flex-flow:column;
  width: 100px;
  
}

#lp20250501 .section2 .point_text{
  font-size: 4em;
  font-weight:900;
  line-height: 1em;
}

#lp20250501 .section2 .poinko{
  margin-top: -60px;
  margin-bottom: 10px;
}
 #lp20250501 .section2_sub .text{
 padding-left: 70px; 
 min-width: 652px;
}

#lp20250501 .section2_sub .card_text{
  color: #532F0C; 
  font-weight: bold;
  padding-left: 194px; 
  margin-top: 20px;
}

#lp20250501 .section2_sub .card{
  margin: -10px auto;
}

#lp20250501 .section2 h2 {
  position: relative;
  width: fit-content;
}

#lp20250501 .section2 .asterisk {
    position: absolute;
    bottom: 18px;
    right: 0px;
    font-size: 18px;
}

@media (max-width: 768px) {

  #lp20250501 .section2 .text{
    font-size: 4.5em;
  }

  #lp20250501 .section2 .question{
    font-size: 20px;
    margin-bottom: 10px;
  }

  #lp20250501 .section2 *{
    font-size: 16px;
  }
  #lp20250501 .section2 .inner {
    padding: 30px 10px;
  }

  #lp20250501 .section2 img{
    max-width: 400px;
  }

  #lp20250501 .section2 .title_text{
    font-size: 20px;
  } 

  #lp20250501 .section2 h2 > .text{
    font-size: 4.7em;
    font-feature-settings: "palt";
    margin: 0 20px 0 auto;
  }

  #lp20250501 .section2 .text_sub{
    font-size: 0.75em; font-weight: 500;
    margin: 5px 18px 20px 18px;
  }
  #lp20250501 .section2 .point{
    font-size: 1.62em;
    background: linear-gradient(174deg, transparent 0%, transparent 65%, #FFFF00 65%, #FFFF00 100%);
    padding: 0 10px;
    margin-bottom: 6px;
  }

  #lp20250501 .section2_sub .text{
    padding-left: 31px; 
    min-width: 270px;
    font-size: 1.87em;
    line-height: 1.5em;
  }

  #lp20250501 .section2_sub .img_center{
    width: 32px;
  }

  #lp20250501 .section2 .triangle{
    width: 60px;
  }
  #lp20250501 .section2 .question_text{
    line-height: 1.6em;
  }
  #lp20250501 .section2 .point_text{
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
  }

  #lp20250501 .section2 .point_text{
    font-size: 2.4em;
    line-height: 1em;
    font-feature-settings: "palt";
  }

  #lp20250501 .section2 .poinko{
    margin-top: -20px;
    margin-bottom: 10px;
    height: 60px;
  }

  #lp20250501 .section2 .poinko:first-child{
    margin-right: -30px  !important; 
    width: 48px;
    padding-left: 5px !important;
  }

  #lp20250501 .section2 .poinko:last-child{
    margin-left: -30px  !important; 
    width: 53px;
  }

  #lp20250501 .section2_sub .card_text{
    color: #532F0C; 
    padding-left: 55px; 
    margin-top: 10px;
    font-size: 1.35em;
    
  }
  #lp20250501 .section2_sub .card{
    width: 101px;
    margin: 40px auto auto -46px ;
  }

  #lp20250501 .section2 .asterisk {
    font-size: 14px;
    bottom: 12px;
  }

}



#lp20250501 .section3 {
  max-width: 927px;
  width: 100%;
  margin: 40px auto;
  padding:0px;
}

#lp20250501 .section3 .inner > *{
  margin: 20px auto;
}

#lp20250501 .section3 .point_img{
  margin-right: -60px;
  z-index: 1;
  max-width: 100px;
}

#lp20250501 .section3_sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lp20250501 .section3_sub .text {
  color:#ffffff; 
  background-color:#D00E31; 
  font-weight: 700; 
  width: 900px; 
  height: fit-content;
  padding: 8px 0;
  text-align: center;
  border-radius: 53px;
  font-size: 35px;
}

#lp20250501 .section3 .title{
  margin-top: 40px;
}

#lp20250501 .section3 .flow{
  height: 330px;
}

#lp20250501 .section3 .flow h4 {
  text-align: center;
  background-color: #DBFFAF;
  width: 125px;
  height: 125px;
  font-size: 22px;
  margin: 10px auto;
  border-radius: 90px;
  display: grid;
  place-items: center;
}

#lp20250501 .section3 .triangle-right,
#lp20250501 .section3 .triangle-right_pc {
  display: inline-block;
  border-style: solid;
  border-width: 20px 0 20px 31px;
  border-color: transparent transparent transparent #2BA23A;
  margin: 52px 0;
}


#lp20250501 .section3 .triangle-right_pc{
  border-width: 25px 0 25px 36px;
  margin: 25px;
}
@media (max-width: 768px) {
  #lp20250501 .section3 .inner{
   display: flex;
   flex-flow: column;
  }

  #lp20250501 .section3 .inner > *{
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px auto;
  }
  #lp20250501 .section3 .inner > div:nth-child(4),
  #lp20250501 .section3 .inner > div:nth-child(2),
  #lp20250501 .section3 .inner > div:nth-child(1)
  {
    order: -1;
  }
  

   #lp20250501 .section3 img{
    max-width: fit-content;
   }
   #lp20250501 .section3 .text {
      font-size: 15px;
   }
   #lp20250501 .section3 .point_img{
    width: 74px;
   }
   #lp20250501 .section3_sub .text{
     font-size: 16px;
     padding-left: 2em;
  }
  #lp20250501 .section3 .ponit2_img{
    width: 263px;
    padding-left: 70px !important;
  }
  #lp20250501 .section3 .ponit3_img{
    width: 277px;
  }
  #lp20250501 .section3 .ponit4_img{
    width: 104px;
  }

  #lp20250501 .section3 .section3_sub:nth-child(3){
    flex-flow: column;
    max-width: 335px;
  }

  #lp20250501 .section3 .flow{
    display: flex;
    height: 181px;
    margin:  0 auto;
  }

  #lp20250501 .section3 .flow img{
    width: 181px;
    height: auto; 
  }

  #lp20250501 .section3 .flow h4 {
    margin: auto 40px auto 12px;
    width: 102px;
    height: 102px;
    font-size: 18px;
    font-weight: bold;
  }

  #lp20250501 .section3 .triangle-right {
   border-width: 25px 20px 0 20px;
   border-color: #2BA23A transparent transparent transparent;
   margin: -5px auto -5px 43px;
  }

  #lp20250501 .section3 .title{
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }


}

#lp20250501 .section3 h4.text {
  font-size: 22px; font-weight: 700; line-height: 38px;
  text-align: center; 
}
#lp20250501 .section3 .text_note {
  font-size: 16px; 
  text-align: center; margin: 0 0 3px 0; padding: 0;
}

@media (max-width: 768px) {
  #lp20250501 .section3 h4.text {
      font-size: 15px; 
      line-height:26px;
  }
  #lp20250501 .section3 .text_note {
      font-size: 12px;
  }
}





#lp2025common .section2 {
  font-size: 35px;
}

#lp2025common .section2 .menu img {
    padding-top: 20px;  padding-bottom: 0px;
}

#lp2025common .section2 .comment8 {
    font-weight: 700; font-size: 1em; text-align: center; color:#fff;
    padding-top: 15px;
    padding-bottom: 10px;
}

#lp2025common .section2 .comment9 {
    text-align: center; font-size: 12px; color:#fff; padding-top: 8px;
}

#lp2025common .section2 .comment10 {
    font-weight: 700; font-size: 1em; text-align: center; color:#fff; padding: 40px 0;
}

#lp2025common .section2 .comment11 {
    display: grid; grid-template-columns: 0.333fr 0.333fr 0.333fr; gap: 25px; justify-items: center; padding: 0px 0;
}

 #lp2025common .section2_title{
    display: grid; 
    grid-template-rows: 30px auto auto;
    grid-template-columns: 0.25fr 1fr 0.25fr; 
    gap: 25px; 
    justify-items: center; 
    align-items: end; 
    padding-top: 0px; 
  } 

  #lp2025common  .section2_title #itemA {
   grid-row: 2 / 3;
   grid-column: 1 / 2;
}

  #lp2025common  .section2_title #itemB {
   grid-row: 2 / 3;
   grid-column: 2 / 3;
   width: 100%; max-width: 616px;
}

  #lp2025common  .section2_title #itemC{
   grid-row: 1 / 2;
   grid-column: 3 / 4;
   margin: auto 15px -25px auto;
}

  #lp2025common  .section2_title #itemD{
   grid-row: 2 / 3;
   grid-column: 3 / 4;
}

 #lp2025common .section2_title #itemE{
   grid-row: 3 / 4;
   grid-column: 1 / 4;
}

#lp2025common .section2_sub{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  white-space: nowrap;
}

#lp2025common .section2_sub .card_text{
  color: #ffffff;
  font-size: 40px;
}

#lp2025common .section2_sub .add{
  height: fit-content;
  margin-top: -55px;
  margin-right: -10px;
  
}

#lp2025common .section2_sub .number{
  font-size: 2em; 
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  letter-spacing: -4px;
}

#lp2025common .section2_sub .card{
  height: fit-content;
  margin: auto 0 auto 20px;
  min-width: 146px;
}

@media (max-width: 768px) {

  #lp2025common .section2 .menu img {
    padding-top: 14px;
  }

  #lp2025common .section2 {
    font-size: 22px;
  }

  #lp2025common .section2 .comment11 {
    gap: 10px;
  }

  #lp2025common .section2_title{
    grid-template-rows: 31px auto auto;
    grid-template-columns: 0.2fr 1fr 0.2fr; 
    gap: 5px;
    row-gap: 17px;
    column-gap: 12px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
  } 

  #lp2025common .section2_title #itemA {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  #lp2025common .section2_title #itemB {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    width: 100%; max-width: 616px;
  }

  #lp2025common .section2_title #itemC{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin:auto;
    margin-right:0;
    width: 67%;
  }

  #lp2025common .section2_title #itemD{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  #lp2025common .section2_title #itemE{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 19px;
    line-height: 32px;
    font-weight: 700;
  }

  #lp2025common .section2_sub{
  margin: 0px 10px;
  }

  #lp2025common .section2_sub .card_text{
  font-size: 20px;
  }

  #lp2025common .section2_sub .number img{
    height: 70px;
  }

  #lp2025common .section2_sub .card{
    width: 146px;
    margin: auto 0 15px 0;
  }

  #lp2025common .section2 .comment8 {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  #lp2025common .section2 .comment9 {
    text-align: left;
    font-weight: 500;
    margin: 0 18px;
    margin-top: 7px;
    line-height: 21px;
  }

  #lp2025common .section2 .comment10 {
    padding: 15px 0;
    padding-top: 30px;
  }

}


#lp20250501 .swiper .swiper-slide { height: auto; }
#lp20250501 .swiper .swiper-slide-item { height: 100%; }

#lp20250501 .swipe-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 10000; 
  transition: opacity 0.3s ease;
  width: 80px;
  height: 80px;
  border-radius:20px;
  background: rgba(0, 0, 0, .35);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#lp20250501 .swipe-icon img {
  width: 70px;
  height: 65px;
}
#lp20250501 .swipe-icon.hide {
  opacity: 0;
  pointer-events: none;
}
