@charset "utf-8";
/* CSS Document */
#campaign_finish_common_text p{
    font-size: 16px;
    color:#ca1032;
    margin: 10px auto;
    background-color: #fff;
        text-align: center;
    width: unset;
    min-width: unset;
}
#campaign_finish_common_text br{
        display: none;
    }@media screen and (max-width:768px) {
#campaign_finish_common_text p{
            font-size: 14px;
        line-height: 19px;
}
  #campaign_finish_common_text br{
        display: block;
    }
}