@charset "utf-8";
/* CSS Document */

#closeinfo2026 * {
  box-sizing: border-box;
}
.closeinfo2026_html html {
  -webkit-text-size-adjust: none; /* iPhoneでランドスケープにした時に文字サイズ自動変更禁止 */
  font-size: 62.5%;
}
.closeinfo2026_html body{
	margin: 0;
}

.closeinfo2026_html,#closeinfo2026{
   line-height: 1.6;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
    color: #333;
}
#closeinfo2026 {
	position: relative;
	z-index: 1;
}
#closeinfo2026 section {
	position: relative;
	z-index: 0;
}
.closeinfo2026_html #closeinfo2026 a{
    color: #0000ee;
}
.closeinfo2026_html a:hover ,.closeinfo2026_html a:focus,.closeinfo2026_html a:active {
	opacity: .7;
}
.closeinfo2026_html .sticky_block{
	
	z-index: 30;
}
.closeinfo2026_html .sptbOnly{z-index: 30;}
img {
max-width: 100%;
height: auto;
vertical-align: bottom;
}

@media screen and (min-width:1100px) {
	.closeinfo2026_html .sptbOnly{
		display: none!important;
	}
}
@media screen and (min-width:768px) {
	.closeinfo2026_html .spOnly{
		display: none!important;
	}
}
@media screen and (max-width:1100px) {
	.closeinfo2026_html .pcOnly {
		display: none!important;
	}
	.closeinfo2026_html .sptbOnly{
		display: block!important;
	}
	.closeinfo2026_html .spOnly{
		display: block!important;
	}
}
@media screen and (max-width:768px) {
	.closeinfo2026_html .spOnly{
		display: block!important;
	}
}
/*共通*/
#closeinfo2026 h2{
	text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 50px;
    padding-top: 30px;
	
}

#closeinfo2026 h2 span{
	       display: block;
    padding: 3px 0;
    background-color: #d00f31;
    width: 160px;
    margin: 4px auto 0px;	
}
#closeinfo2026 .customervoice_bg h2{
	color:#fff;
}
#closeinfo2026 .closeinfo2026_inner{
	width: 95%;
    max-width:800px;
	margin: 30px auto;
}
@media screen and (max-width:1100px) {
    #closeinfo2026 h2 {
    font-size: 26px;
}
}
@media screen and (max-width:768px) {
	#closeinfo2026 h2 span {
		padding: 2px 0;
		width: 84px;
		margin: 0px auto 0px;
	}

	
#closeinfo2026 h2 {
    padding-top: 15px;
    font-size: 22px;
    margin: 0 auto 0;
}
#closeinfo2026 .closeinfo2026_inner {
        margin: 10px auto;
        width:100%;
    }

}

/*共通おわり*/



/*KV*/
#closeinfo2026 .closeinfo {
    text-align: center;
    width: 95%;
    max-width:800px;
    margin: auto;
    padding: 22px 0;
	border-radius: 10px;
	/*box-shadow: 0px 0px 5px #bdbdbd;*/
}

#closeinfo2026 .closeinfo_bg{
background-image: url("../img/kv_bg.jpg");
background-color: #f1f2f599;
background-size: 85%;
padding: 50px 0 80px;
background-position: center 56%;
        margin: 0 auto
}
#closeinfo2026 .closeinfo p{
       font-size: 20px;
    font-weight: bold;
    margin: 10px auto 10px;
}
#closeinfo2026 .closeinfo .closeinfo_title{
         font-size: 32px;
        font-weight: bold;
    color: #ca1032;
}

#closeinfo2026 .closeinfo .closeinfo_middle{
        
}
#closeinfo2026 .closeinfo_box{
    width: 850px;
    margin: auto;
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 25px;
   
}
#closeinfo2026 .closeinfo_box >div p{
    background-color: #fff;
    box-shadow: 0px 1px 5px #c6c6c666;
    padding: 26px 46px 26px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}#closeinfo2026 .closeinfo_box >.closeinfo_member_an p{
    background-color: #ffeff1;
}#closeinfo2026 .closeinfo_box >.closeinfo_visitor_an p{
    background-color: #e9f3e8;
}
#closeinfo2026 .closeinfo_box >div{
    position: relative;
    width: 44%;
}
#closeinfo2026 .closeinfo_box >div p {
    padding: 22px 46px 22px 20px;
    text-align: center;
    line-height: 22px;
}
#closeinfo2026 .closeinfo_box >.closeinfo_member_an:before{
     content: '';
    width: 12px;
    height: 12px;
    border: 0;
    transform: rotate(135deg);
    position: absolute;
    top: -2%;
    bottom: 0;
    margin: auto 25px auto auto;
           border-top: solid 4px #ca1032;
    border-right: solid 4px #ca1032;
    right: 0;
}#closeinfo2026 .closeinfo_box >.closeinfo_visitor_an:before{
     content: '';
    width: 12px;
    height: 12px;
    border: 0;
    transform: rotate(135deg);
    position: absolute;
    top: -2%;
    bottom: 0;
    margin: auto 25px auto auto;
           border-top: solid 4px #2ba23a;
    border-right: solid 4px #2ba23a;
    right: 0;
}/*#closeinfo2026 .closeinfo_box >.closeinfo_visitor_an:before{
        border-top: solid 4px #2ba23a;
    border-right: solid 4px #2ba23a;
}
#closeinfo2026 .closeinfo_box >.closeinfo_member_an:before{
        border-top: solid 4px #ca1032;
    border-right: solid 4px #ca1032;
}*/
#closeinfo2026 .closeinfo_box >div a{
    font-weight:    bold;
    text-decoration: none;
}
/*#closeinfo2026 .closeinfo_box .closeinfo_member_an p{
    color: #ca1032;
}
#closeinfo2026 .closeinfo_box .closeinfo_member_an{
    border: 2px solid #ca1032;
}
#closeinfo2026 .closeinfo_box .closeinfo_visitor_an p{
    color: #2ba23a;
}#closeinfo2026 .closeinfo_box .closeinfo_visitor_an {
        border: 2px solid #2ba23a;
}*/
@media screen and (max-width:1100px) {
    #closeinfo2026 .closeinfo_box >div p {
    padding: 12px 46px 12px 20px;
    text-align: center;
    line-height: 22px;
}
    #closeinfo2026 .closeinfo_bg {
    padding: 10px 0 80px;

}
    #closeinfo2026 .closeinfo p {
        text-align: left;
    }
#closeinfo2026 p.closeinfo_title {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
}
	#closeinfo2026 .closeinfo {
		width: 90%;
	}
    #closeinfo2026 .closeinfo_box {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 25px;
}
}
@media screen and (max-width:768px) {
#closeinfo2026 .closeinfo_box >div:before{
    right: -14px;
}
    #closeinfo2026 .closeinfo_box >.closeinfo_member_an:before{
    width: 10px;
    height: 10px;
    border-top: solid 3px #ca1032;
    border-right: solid 3px #ca1032;
        right: -17px;
}  #closeinfo2026 .closeinfo_box >.closeinfo_visitor_an:before{
    width: 10px;
    height: 10px;
    border-top: solid 3px #2ba23a;
    border-right: solid 3px #2ba23a;
     right: -17px;
}
    #closeinfo2026 .closeinfo_box {
        top: 18px;
        
    }
    #closeinfo2026 .closeinfo p{
        text-align: left;
                font-size: 16px;
    }
    #closeinfo2026 .closeinfo p.closeinfo_title {
    font-size: 23px;
        line-height: 28px;
        text-align: center;
        margin: 20px auto 20px;
}    
    #closeinfo2026 .closeinfo p.closeinfo_title span{
    font-size: 23px;
}    #closeinfo2026 .closeinfo p.closeinfo_middle {
    font-size: 16px;
}

#closeinfo2026 .closeinfo_box >div {
    width: 48%;
}
    #closeinfo2026 .closeinfo_box >div:nth-of-type(n+3){
    margin-top: 10px;
    }}
/*KVおわり*/

/*目次*/
#closeinfo2026 .close_toc >div{
    /*border: 1px solid #ca1032; */
 
}#closeinfo2026 .close_toc >div>div{
      display: flex;
    flex-wrap: wrap;
    padding: 8px 0 20px;
   
}#closeinfo2026 .close_toc >div>div>div{
    width:45%;
    margin: 15px auto;
    position: relative;
}#closeinfo2026 .close_toc >div>div>div a{
    text-decoration: none;
    color:#333;
  
}#closeinfo2026 .close_toc >div>div>div p{
    border-bottom: 1px solid #8f8f8f;
    padding: 0 30px 3px 4px;
  
}#closeinfo2026 .close_toc >div>div>div p:before{
     content: '';
    width: 10px;
    height: 10px;
    border: 0;
    transform: rotate(135deg);
    position: absolute;
    top: -16%;
    bottom: 0;
    margin: auto 25px auto auto;
    border-top: solid 3px #ca1032;
    border-right: solid 3px #ca1032;
    right: -12px;
}
#closeinfo2026 .close_toc >div>p{
    background-color: #ca1032;
    color: #fff;
    font-weight: bold;
    padding: 2px 20px;
    text-align: center;
    margin: auto;
    width: 77px;
}#closeinfo2026 .close_toc p{
}
#closeinfo2026 #closeinfo_member .close_toc{
   width: 95%;
    max-width:800px;
    margin: auto;
}

/*目次おわり*/


/*メンバー会員の皆様*/
#closeinfo2026 #closeinfo_member{
    background-color: #fff;
    padding: 100px 0 50px;
}
#closeinfo2026 #closeinfo_visitor{
    background-color: #fff;
   padding: 50px 0 80px;
}
#closeinfo2026 #closeinfo_member h2,#closeinfo2026 #closeinfo_visitor h2{
        padding: 20px 0 18px;
}
#closeinfo2026 #closeinfo_member section{
    background-color: #fff;
    padding: 50px 30px 60px;
    border: 2px solid #f0f0f0;
}#closeinfo2026 #closeinfo_visitor section{

    padding: 0;
    border: 2px solid #f0f0f0;
}
#closeinfo2026 #closeinfo_visitor h2 span {
    display: block;
    padding: 3px 0;
    background-color: #2ba23a;
    width: 160px;
    margin: 4px auto 0px;
}
#closeinfo2026 #closeinfo_visitor section.closeinfo2026_inner{
     font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 0;
}
#closeinfo2026 #closeinfo_visitor section.closeinfo2026_inner >div{
   text-align: center;
    
}
#closeinfo2026 #closeinfo_member section.closeinfo_member_box_schedule,
#closeinfo2026 #closeinfo_visitor section.closeinfo_visitor_box_schedule{
    border: none;
}
#closeinfo2026 #closeinfo_member .closeinfo2026_inner,#closeinfo2026 #closeinfo_visitor .closeinfo2026_inner{
    margin: 30px auto 80px;
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule{
    background-color: transparent;
}
#closeinfo2026 #closeinfo_member h3,#closeinfo2026 #closeinfo_visitor h3 {
    padding: 1px 20px 2px;
    background-color: #4d4d4d;
    color: #ffffff;
    border-radius: 0;
    font-weight: normal;
    font-weight: bold;
    margin: 0 auto 20px;
    font-size: 23px;
    display: inline;
}
#closeinfo2026 #closeinfo_member  .closeinfo2026_h3box,#closeinfo2026 #closeinfo_visitor  .closeinfo2026_h3box {
   text-align: center
}
/*#closeinfo2026 #closeinfo_member h3 {
    color: #ca1032;
    border-radius: 0;
    font-weight: bold;
    margin: 0 auto 20px;
    font-size: 20px;
    width: 100%;
    background-color: transparent;
}*/
#closeinfo2026 #closeinfo_member .closeinfo_member_box li ,#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box li {
    text-indent: -19px;
    padding-left: 22px;
    margin-top: 10px;
}
/*メンバービジター帯*/
#closeinfo2026 .accordion-header {
  position: -webkit-sticky; /* Safari対策 */
  position: sticky;
  top: 0;
  background: #f0f0f0;
  z-index: 1; /* ヘッダーなどに隠れないように */
}
#closeinfo2026 #closeinfo_member .accordion-header {
  position: -webkit-sticky; /* Safari対策 */
  position: sticky;
  top: 0;
  background:#ffeff1;
  z-index: 1;
    border-radius: 0;/* ヘッダーなどに隠れないように */
}
#closeinfo2026 #closeinfo_visitor .accordion-header {
  position: -webkit-sticky; /* Safari対策 */
  position: sticky;
  top: 0;
  background:#e9f3e8;
  z-index: 1;
    border-radius: 0;/* ヘッダーなどに隠れないように */
}
#closeinfo2026 section.accordion {
    padding: 0;
      width: unset;
    margin: 2em auto;
}
@media screen and (max-width: 1200px) {
    #closeinfo2026 section.accordion {
        margin-left: 20px;
        margin-right: 20px;
    }
}
#closeinfo2026 .accordion-btn {
      padding: 0;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
    font-size: 24px;
}
#closeinfo2026 .accordion-btn.active {
  border-bottom: 1px solid #bec7ce;
}

#closeinfo2026 .accordion-btn.active::after {
  transform: translateY(50%) rotate(315deg);
    
}
#closeinfo2026 .accordion-content {
   max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#closeinfo2026 .accordion-content.open {
  max-height: none; /* 高さ制限なしで開く */
}
#closeinfo2026 .c-setting-box {
  margin-bottom: 2em;
  padding: 1em 2em;
  border:1px solid #bec7ce;
  text-align: left;
    box-shadow: none;
}
    #closeinfo2026 .c-plan {
  width: 100%;
  margin: 2em auto;
  padding: .1em 2em 2em;
  box-sizing: border-box;
  background-color: #e4f2fc;
  text-align: center;
    border:1px solid #bec7ce;
}
@media screen and (max-width: 768px) {
    #closeinfo2026 #closeinfo_member .closeinfo2026_inner, #closeinfo2026 #closeinfo_visitor .closeinfo2026_inner
 {
    margin: 30px auto 30px;
}
    #closeinfo2026 #closeinfo_member h2, #closeinfo2026 #closeinfo_visitor h2 {
           padding: 5px 0 4px;
    font-size: 18px;
}
    #closeinfo2026 .price-list_subscribe table {
    border-right: none;
    border-left: none;
}
      #closeinfo2026 .c-setting-dl__small {
    display: block;
              width: 95%;
        margin: auto;
  }
    #closeinfo2026 section{
        overflow-x: visible;
        overflow-y: visible; 
    }
     #closeinfo2026 .accordion-btn { /* ヘッダーの高さに合わせる（pxは正確に） */
    position: sticky; /* 念のため再宣言 */
    padding: 8px;
    font-size: 20px;
  }
    #closeinfo2026 .accordion-header{
        top: 56px;
           z-index: 1;
    }
    #closeinfo2026 .accordion-btn::after {
    width: 14px;
    height: 14px;
    right: -7px;
}
        #closeinfo2026 section.accordion {
       width: 96%;
       margin: 0 auto 20px;
    }
    #closeinfo2026 section.c-setting-box{
                padding: 0;
        width: 96%;
        margin: 20px auto;
    }
}
/*メンバービジター帯おわり*/
/*メンバー会員スケジュール*/
#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule >div>ul> li,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule >div>ul> li{
    width: 80%;
    background-color: #fff;
    margin-left: 115px;
    padding: 15px 15px;
    position: relative;
        border-radius: 6px;
    box-shadow: 0px 0px 6px #bdbdbd63;
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule >div>ul> li:before,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule >div>ul> li:before{
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
        background-color: #d00f31;
    z-index: 1;
    
}
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule >div>ul> li:before{
        background-color: #2ba23a;

    
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule >div>ul> li+li,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule >div>ul> li+li{
    margin-top: 30px;
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule .closeinfo_date,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule .closeinfo_date{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule ul,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule ul{
  position: relative;
}

#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule i ,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule i {
    position: absolute;
    top:6%;
    bottom: 0;
    left: 59px;
    width: 0;
    border-left: 6px dotted #b5b5b5;
    content: "";
    display: block;
    z-index: 0;
    height: 83%;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule li+li i ,
#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule li+li i {
    height: calc(100% + 0px);
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule li:last-of-type i{
     height:50%;
    top:0;
}#closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule li:last-of-type i{
        height: 25%;
    top: 20%;
}
/*#closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule h3 {
   width: 550px;
    padding: 1px 0;
    background-color: #ca1032;
    color: #ffffff;
    border-radius: 0;
    font-weight: normal;
    font-weight: bold;
    border-radius: 30px;
    margin: 0 auto 20px;
    font-size: 19px;
}*/
@media screen and (max-width:768px) {
    #closeinfo2026 .close_toc >div>div>div p {
    padding: 0 30px 2px 4px;
    font-size: 17px;
}
    #closeinfo2026 .close_toc >div>div>div {
    width: 95%;
    margin: 10px auto;
}
    #closeinfo2026 .close_toc >div>div {
    flex-direction: column;
}
    #closeinfo2026 .close_toc >div>p {
    padding: 0px 14px 2px;
    margin: 30px auto 0;
    width: 68px;
}
#closeinfo2026 #closeinfo_visitor section.closeinfo2026_inner >div {
    text-align: center;
    font-size: 16px;
    width: 94%;
    margin: auto;
}
        #closeinfo2026 #closeinfo_visitor h2 span
 {
    padding: 2px 0;
    width: 84px;
    margin: 0px auto 0px;
}
}
@media screen and (max-width: 1100px) {
div.closeinfo_popup {

    top: 90%;
	}
.popup-img {
    width: 70px;
    height: 70px;

    }
    #closeinfo2026 #closeinfo_member h3, #closeinfo2026 #closeinfo_visitor h3 {
        padding: 6px 20px 6px;
        background-color: #4d4d4d;
        color: #ffffff;
        border-radius: 0;
        font-weight: normal;
        font-weight: bold;
        /* border-radius: 30px; */
        margin: 0 auto 20px;
        font-size: 18px;
        display: block;
        width: 600px;
        line-height: 20px;
    }
}
/*メンバー会員スケジュールおわり*/

/*ご利用継続*/
#closeinfo2026 #closeinfo_member section.closeinfo2026_inner_continuation{
    width: 95%;
    max-width:800px;
        background-color: #fff;
    padding: 50px 15px 0px;
    border: 2px solid #f0f0f0;
    margin: auto;
}#closeinfo2026 #closeinfo_member .closeinfo2026_inner_continuation .closeinfo2026_h3box h3{
       background-color: #ca1032;
    display: block;
    width: 415px;
    line-height: 27px;
    padding: 9px 5px 9px;
    
}

#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation img{
    width: 70%;
    text-align: center;
    margin: auto;
    display: block;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_boxwrap img{
    width: 100%;
    text-align: center;
    margin: 27px auto 0;
    display: block;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation div{
    text-align: center;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation >p{
    margin: 10px auto 0;
    text-align: center;
    font-weight: bold;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_caution{
    width: 75%;
    margin: 5px auto 30px;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_caution p{
    text-align: left;
    font-size: 16px;
    margin:0 auto 0;
    line-height: 20px;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_contents_box> div>p{
    text-align: left;
    margin: 0 auto 10px;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_boxwrap{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
       margin: 20px auto;
        justify-content: space-between;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_boxwrap a{
    border-radius: 50%;
    display: block;
    overflow: hidden;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box span{
    color: #08a3db;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(n+3) span{
    color: #fe5457;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box .closeinfo_member_box_continuation_contents_box_title{
   font-weight: bold;
    font-size: 22px;
    margin: 0 auto 10px;
    text-align: left;
    position: relative;
    padding-left: 65px;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box .closeinfo_member_box_continuation_contents_box_title:before{
        content: '';
    width: 60px;
    height: 60px;
    border: 0;
    position: absolute;
    top: 20%;
    left: 0%;
    bottom: 0;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(1) .closeinfo_member_box_continuation_contents_box_title:before{
    background-image: url(../img/close_flow_icon1.png);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(2) .closeinfo_member_box_continuation_contents_box_title:before{
    background-image: url(../img/close_flow_icon2.png);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(3) .closeinfo_member_box_continuation_contents_box_title:before{
    background-image: url(../img/close_flow_icon3.png);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(4) .closeinfo_member_box_continuation_contents_box_title:before{
    background-image: url(../img/close_flow_icon4.png);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_boxwrap div{
    width: 21%;
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents p{
    text-align: left;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents{
    margin-top: 50px;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents .closeinfo2026_caution{
   font-size: 14px;
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents .closeinfo2026_caution p{
   margin: 3px 0;
    line-height: 18px;
    text-indent: -16px;
    padding-left: 16px;
}
#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents .closeinfo_member_box_continuation_contents_box{
   margin-bottom: 50px;
    background-color: #f8f8f8;
    padding: 30px 15px;
}#closeinfo2026 #closeinfo_member .close_flow1{
   text-align: center;
    width: 70%;
   margin: 35px auto 30px;
}
#closeinfo2026 #closeinfo_member .close_flow1 p{
    font-size: 20px;
   font-weight: bold;
}

/*#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents .closeinfo_member_box_continuation_contents_box:nth-of-type(n+3){
    background-color: #333;
}*/
@media screen and (max-width:768px) {
    #closeinfo2026 #closeinfo_member .closeinfo2026_inner_continuation .closeinfo2026_h3box h3 {
    background-color: #ca1032;
    width: unset;
    line-height: 23px;
    padding: 3px 5px 5px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .close_flow_guide{
       font-size:16px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_boxwrap{
        margin: 7px auto;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box{
  position: relative;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:before{
           content: '';
        width: 60px;
        height: 60px;
        border: 0;
        position: absolute;
        top: 20px;
        bottom: 0;
        background-size: 100%;
        background-repeat: no-repeat;
  transform: translateX(-50%);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(1):before{
    background-image: url(../img/close_flow_icon1.png);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(2):before{
    background-image: url(../img/close_flow_icon2.png);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(3):before{
    background-image: url(../img/close_flow_icon3.png);
}#closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box:nth-of-type(4):before{
    background-image: url(../img/close_flow_icon4.png);}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box .closeinfo_member_box_continuation_contents_box_title:before {
    display: none;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents .closeinfo_member_box_continuation_contents_box {
        padding: 80px 15px 30px;}

    #closeinfo2026 #closeinfo_member .close_flow1 {
    text-align: center;
    width: 100%;
    margin: 35px auto 30px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_caution {
    width: 100%;
        padding: 0 15px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_caution p {
    font-size: 14px;
    line-height: 18px;
    text-indent: -16px;
    padding-left: 16px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_contents_box> div>p {
    font-size: 16px;
}
    #closeinfo2026 #closeinfo_member .closeinfo2026_inner_continuation .closeinfo2026_h3box {
        padding: 0 15px;
    }
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation >p {
    padding: 0 15px;
        font-size: 16px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents_box .closeinfo_member_box_continuation_contents_box_title {
    font-size: 18px;
        line-height: 25px;
        padding-left: 0;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation .closeinfo_member_box_continuation_boxwrap {
    width: 96%;
        max-width: 400px;

}
    #closeinfo2026 #closeinfo_member section.closeinfo2026_inner_continuation{
    width: 100%;
    padding: 0;
    border: none;
    margin: auto;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation img{
    width: 96%;
        text-align: center;
        margin: auto;
        max-width: 400px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_continuation_contents{
    padding: 0 15px;
}
}

/*ご利用継続おわり*/

@media screen and (max-width:768px) {
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule >div>ul> li, #closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule >div>ul> li {
    width: 90%;

}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule .closeinfo_date, #closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule .closeinfo_date {
    font-size: 18px;
}
    #closeinfo2026 ol, #closeinfo2026 ul {
    font-size: 16px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule i , #closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule i{
    left: 5px;
}  
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule >div>ul> li, #closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule >div>ul> li {
    margin-left: 35px;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box_schedule >div>ul> li:before, #closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box_schedule >div>ul> li:before {
    left: -36px;
    top: 50%;
    height: 18px;
    width: 18px;
}
    #closeinfo2026 #closeinfo_member {
    background-color: #fff;
    padding: 50px 0 0;
}
    #closeinfo2026 #closeinfo_member .closeinfo_member_box li, #closeinfo2026 #closeinfo_visitor .closeinfo_visitor_box li {
font-size: 16px;
line-height: 23px;
}
#closeinfo2026 #closeinfo_member h3, #closeinfo2026 #closeinfo_visitor h3 {
    padding: 6px 20px 6px;
    background-color: #4d4d4d;
    color: #ffffff;
    border-radius: 0;
    font-weight: normal;
    font-weight: bold;
    /* border-radius: 30px; */
    margin: 0 auto 20px;
    font-size: 18px;
    display: block;
    width: 97%;
    line-height: 20px;
}

    #closeinfo2026 #closeinfo_member section {
    border: none;
    padding: 0px 15px 30px;
}   #closeinfo2026 #closeinfo_visitor section {
    border: none;
    padding: 10px 15px 20px;
}
    #closeinfo2026 #closeinfo_visitor {
    background-color: #fff;
    padding:0px 0 0px;
}
}
/*メンバー会員の皆様おわり*/

/*thanks*/
#closeinfo2026 .closeinfo_thanks{
    margin: 0px 0 50px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
#closeinfo2026 .closeinfo_thanks div{
        padding: 15px 0;
    display: inline-block;
    border-top: 5px dotted #a3bedb;
    border-bottom: 5px dotted #a3bedb;
}#closeinfo2026 .closeinfo_thanks div p{
    padding: 0 40px;
    
}
@media screen and (max-width: 768px) {
    #closeinfo2026 .closeinfo_thanks div p {
    padding: 0 15px;
}
    #closeinfo2026 .closeinfo_thanks {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 0 0 50px;
        margin: 0
    }
    #closeinfo2026 .closeinfo_thanks p+p{
        margin-top: 10px;
    }
    #closeinfo2026 .closeinfo_thanks div{
    padding: 20px 0;
    display: inline-block;
    border-top: 4px dotted #a3bedb;
     border-bottom: 4px dotted #a3bedb;
}
}
/*thanksおわり*/

/*お問い合わせ*/
  #closeinfo2026 #closeinfo_contact h3 {
        color: #fff;
        text-align: center;
         border-radius: 30px;
      font-weight: bold;
       background-color: #ca1032;
    font-size: 23px;
    margin: 30px auto 10px;
      width: 300px;
}
#closeinfo2026 #closeinfo_contact h2{
    background-color: #ca1032;
    color: #fff;
    padding:10px 0;
    font-size: 24px;
    margin-bottom: 10px;
}

#closeinfo2026 #closeinfo_contact .closeinfo_contactbox p{
    color: #ca1032;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding-left: 30px;
}#closeinfo2026 #closeinfo_contact .closeinfo_contactbox{

    text-align: center;
}
#closeinfo2026 #closeinfo_contact .closeinfo_contact_ex{
   font-size: 24px;
    margin: -12px auto 0;
    color: #ca1032;
    text-align: center;
    font-weight: bold;
    padding-right: 23px;
}
#closeinfo2026 #closeinfo_contact .closeinfo_contactbox p:before{
    content: '';
    width: 40px;
    height: 40px;
    border: 0;
    background-image: url("../img/tel_2026closeinfo.svg");
    position: absolute;
    top: 5px;
    left: -6%;
    bottom: 0;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;

}
#closeinfo2026 #closeinfo_contact .closeinfo_contactnum{
        text-decoration: none;
    border: none;
}

#closeinfo2026 #closeinfo_contact .closeinfo2026_inner>div{
    margin: 5px auto 0;
    text-align: center;
    font-size: 20px;
}
#closeinfo2026 #closeinfo_contact .closeinfo2026_inner .closeinfo_contactbt p{
    
}
#closeinfo2026 #closeinfo_contact .closeinfo2026_inner .closeinfo_contactbt p:before{
        content: '';
    width: 12px;
    height: 12px;
    border: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 3%;
    bottom: 0;
    right: -6px;
    margin: auto 25px auto auto;
    border-top: solid 4px #333;
    border-right: solid 4px #333;
}
#closeinfo2026 #closeinfo_contact .closeinfo2026_inner .closeinfo_contactbt a{
     text-decoration: none;  
    position: relative;
    font-size: 25px;
    color: #333;
    font-weight: bold;
    border: 3px solid #333;
    width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 3px 4px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    position: relative;
    border-bottom: 6px solid #333;
    border-radius: 100px;
}
#closeinfo2026 #closeinfo_contact .closeinfo2026_inner .closeinfo_contactbt{
    margin-top: 30px;
}

@media screen and (max-width: 768px){
    #closeinfo2026 #closeinfo_contact h3 {
    font-size: 18px;
    margin: 30px auto 10px;
    width: 80%;
    max-width: 400px;
}
    #closeinfo2026 #closeinfo_contact {
        margin: 50px auto 60px;
    }
#closeinfo2026 #closeinfo_contact .closeinfo2026_inner .closeinfo_contactbt {
    margin-top: 15px;
    margin-bottom: 30px;
}
#closeinfo2026 #closeinfo_contact .closeinfo2026_inner .closeinfo_contactbt p:before {
    content: '';
    width: 8px;
    height: 8px;
}
#closeinfo2026 #closeinfo_contact h2 {
    font-size: 18px;
    line-height: 23px;
    padding: 5px 0 5px;
}
    #closeinfo2026 #closeinfo_contact .closeinfo_contactbox p {
    font-size: 30px;
}
   
    #closeinfo2026 #closeinfo_contact .closeinfo_contactbox p:before {

    width: 30px;
    height: 30px;
    left: -4%

}
    #closeinfo2026 #closeinfo_contact .closeinfo_contact_ex {
    font-size: 17px;
    margin: -10px auto 0;
    color: #ca1032;
    text-align: center;
    font-weight: bold;
    padding-right: 23px;
}
    #closeinfo2026 #closeinfo_contact .closeinfo2026_inner>div {
    margin: 5px auto 0;
    font-size: 18px;
}
    #closeinfo2026 #closeinfo_contact .closeinfo2026_inner .closeinfo_contactbt a {
    font-size: 18px;
    border: 2px solid #333;
    width: 80%;
    padding: 1px 36px 2px 36px;
    border-bottom: 3px solid #333;
        max-width: 400px;
}
}

/*お問い合わせおわり*/

/*よくある質問*/

#closeinfo2026 #close_question>div{
    width: 800px;
    background-color: #f9f9f9;
        margin: 130px auto 50px;
    padding: 23px 0 11px;
    border: 2px solid #4d4d4d;
    
}#closeinfo2026 #close_question>div>div{
    font-size:20px;
    text-align: center;
    font-weight: bold;
}
#closeinfo2026 #close_question .closeinfo2026_h3box{
   text-align: center;
    }#closeinfo2026 #close_question .closeinfo2026_h3box h3 {
        padding: 1px 20px 2px;
    background-color: #4d4d4d;
    color: #ffffff;
    border-radius: 0;
    font-weight: bold;
    margin: 0 auto 20px;
    font-size: 23px;
    display: inline;
    }
@media screen and (max-width: 768px) {
    #closeinfo2026 #close_question{
     padding-top: 1px; margin-top: -1px;
  }
    #closeinfo2026 #close_question .closeinfo2026_inner {
    font-size: 17px;
        margin: 18px auto 0px;
}
    #closeinfo2026 #close_question>div{
    width: 100%;
               padding: 18px 0px 18px;
        margin: 0 auto 0;
}
    #closeinfo2026 #close_question{
        padding: 10px 15px 20px;
    }
    #closeinfo2026 #close_question .closeinfo2026_h3box h3 {
               padding: 4px 7px 4px;
        margin: 0 auto 20px;
                font-size: 17px;
        width: 94%;
        line-height: 20px;
        display: block;
    }
}
/*よくある質問おわり*/

/*上にもどる*/

div.closeinfo_popup {
z-index: 99;
  position: fixed;
  top: 90%;
  right:1%;
  display: none;
  align-items: center;
  justify-content: center;
	
}
.popup-img {
    width: 70px;
    height: 70px;
}

.popup-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;

}

.closeinfo_popup.hidden {
	opacity: 0;
	
}
@media screen and (max-width: 1100px) {
div.closeinfo_popup {

    top: 90%;
	}
.popup-img {
    width: 70px;
    height: 70px;

}
closeinfo2026 .closeinfo_box >div p {
    padding: 15px 46px 15px 20px;
    text-align: center;
    line-height: 22px;
}
}
@media screen and (max-width: 768px) {
  div.closeinfo_popup {
  position: fixed;
bottom: 10px;
  right:3%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
      z-index: 100;
}
    

	.popup-img {
  width: 50px;
  height: 50px;

}
    #closeinfo2026 .closeinfo_box >div p {
    padding: 10px 15px 10px 10px;
    line-height: 18px;
    font-size: 16px;        
}  
    #closeinfo2026 .closeinfo {
    margin: auto;
    padding: 20px 0 0;
}
    #closeinfo2026 .closeinfo_bg {
    padding: 10px 0 50px;
            background-size: 124%;

}
}
/*上にもどる*/






/*ロゴ*/
.closeinfo2026_html .logo_text {
    font-weight: bold;
    color: #008344;
    font-size: 14px;
    text-align: center;
    margin-top:1px;
}
.closeinfo2026_html .header {
	padding-top: 10px;
}
.closeinfo2026_html .none_deco span{
	text-decoration: none;
    color:#008344;
}.closeinfo2026_html .none_deco{
	text-decoration: none;
}
.closeinfo2026_html .logo_wrap {
    padding-top: 8px;
    padding-left: 20px;
    color: #008344;
    font-weight: bold;
    margin: 5px 0 10px;
    width: 240px;
    font-size: 16px;
}
.closeinfo2026_html .logo_wrap img{
           width: 190px;
        margin-bottom:5px;
    }
@media screen and (max-width: 1100px) {
	.closeinfo2026_html .logo_wrap {
        padding-top: 8px;
		padding-left: 20px;
		color: #008344;
		font-weight: bold;
	        margin-bottom: 10px;
	}

}
@media screen and (max-width: 768px) {
    .closeinfo2026_html .logo_wrap img {
        width: 140px;
        margin-bottom: -2px;
    }
	.closeinfo2026_html .logo_wrap span{
		font-size: 12px;
	}
	.closeinfo2026_html .logo_wrap {
        padding-left: 15px;
        padding-top: 6px;
        color: #008344;
        font-weight: bold;
		padding-bottom: 0px;
    }
}
/*ロゴ終わり*/
/*固定ヘッダー*/
.closeinfo2026_html .sticky_block {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff;
}
.closeinfo2026_html .sticky_block .sticky_block_inner_wrap {
	position: relative;
	width: 100%;
	background: #fff;
  z-index: 20; /* 重ね順用　menu-slideより大きくなるよう設定 */
	    padding: 6px 0 2px;

}
.closeinfo2026_html .sticky_block .sticky_block_inner {
	max-width: 900px;
	margin: 0 auto;
}
.closeinfo2026_html .sticky_block .sticky_nav {
  display: flex;
	justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: bottom 0.3s, top 0.3s;
	z-index: 2147483647!important;
}
.closeinfo2026_html .sticky_block .sticky_nav img{
  width: 172px;
}
.closeinfo2026_html .sticky_block .sticky_nav_inner_box {
  display: flex;
	gap: 30px;
}
.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item {
  position: relative;
  display: flex;
  align-items: center;
  height: 82px;
}
.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item a {
	position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
	color: #4b4b4b;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.member a {
	padding: 6px 10px 8px;
	background: #ca1032;
	color: #fff;
	border: 2px solid #ca1032;
	transition: .2s;
}
.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.login {
	background: #fff;
}
.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.login a {
	padding: 6px 15px 8px 37px;
  color: #ca1032;
  border: 2px solid #ca1032;
  background: url(../img/ic_d.png) no-repeat;
  background-size: 13px 19px;
  background-position: 17px 50%;
  transition: .2s;
}
.closeinfo2026_html .menu-container {
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  background: #444;
  color: #fff;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.closeinfo2026_html .menu-container.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.closeinfo2026_html .menu-text {
  cursor: pointer;
  font-size: 16px;
}

@media screen and (min-width: 1101px) {
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.menu {
		padding-right: 25px;
	}
	.closeinfo2026_html .sticky_nav  .sticky_nav_inner_box .nav_item
    
    
    
    
    
    
    
    
    
    .member a:hover {
		background: #fff;
		color: #ca1032;
		transition: .2s;
	}
	.closeinfo2026_html .sticky_nav  .sticky_nav_inner_box .nav_item.login a:hover {
		color: #d00f31;
		border: 2px solid #d00f31;
		transition: .2s;
	}
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item a span {
		padding: 0 0 10px;
		border-bottom: 2px solid transparent;
		transition: .2s;
	}
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item a:hover span {
		border-bottom: 2px solid #1eaa39;
		transition: .2s;
	}
  .closeinfo2026_html .menu-btn {
		display: none;
  }
  .closeinfo2026_html .menu-text {
		position: relative;
    display: block;
    margin: 0 auto;
		padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
		border-bottom: 2px solid transparent;
		transition: .2s;
  }
  .closeinfo2026_html .menu-text:hover {
		transition: .2s;
  }
	.closeinfo2026_html .menu-text::after {
		position: absolute;
    content: '';
    top: 40%;
    right: -20px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #4B4B4B;
    border-bottom: 2px solid #4B4B4B;
    transform: translateY(-50%) rotate(45deg);
	}
	.menu-slide {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
  .closeinfo2026_html body {
    padding-bottom: 55px;
  }
  .closeinfo2026_html .sticky_nav {
    position: fixed;
    bottom: 0;
    background: #ddd;
	  left: 0;
	  padding: 6px 0;
  }
	.closeinfo2026_html .sticky_block .sticky_nav_inner_box {
		gap: 0;
		width: 100%;
	}
  .closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item {
		width: 100%;
    height: 55px;
    border-right: 1px solid #cacdce;
  }
  .closeinfo2026_html .sticky_nav .nav_item:nth-of-type(5) {
    border-right: none;
  }
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item a {
		height: 100%;
	}
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.whatis a {
		background: url("../img/ic_whatis.png") no-repeat;
    background-size: 27px 27px;
    background-position: 50% 25%;
	}
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.price a {
		background: url("../img/ic_price.png") no-repeat;
    background-size: 30px 31px;
    background-position: 50% 25%;
	}
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.course a {
		background: url("../img/ic_course.png") no-repeat;
    background-size: 28px 23px;
    background-position: 50% 25%;
	}
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.flow a {
		background: url("../img/ic_flow.png") no-repeat;
    background-size: 21px 27px;
    background-position: 50% 25%;
	}
	.closeinfo2026_html .sticky_nav .sticky_nav_inner_box .nav_item.question a {
		background: url("../img/ic_question.png") no-repeat;
    background-size: 27px 27px;
    background-position: 50% 25%;
	}
  .closeinfo2026_html .sticky_nav  .sticky_nav_inner_box .nav_item a span {
		position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
  }
  .closeinfo2026_html .menu-container {
		display: none;
  }
  .closeinfo2026_html .menu-btn {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .closeinfo2026_html .menu-text {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: auto;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
  }
	.closeinfo2026_html .menu-slide {
		position: fixed;
		top: 0;
		right: -100%;
		width: 70%;
		height: 100%;
		padding: 15px 12px 0;
		background: #fff;
		transition: right 0.3s ease-in-out;
		box-shadow: -2px 0 5px rgba(0,0,0,0.2);
		z-index: 10; /* 重ね順用　sticky_block_inner_wrapより小さくなるよう設定 */
	}
	.closeinfo2026_html .menu-slide.show {
		right: 0;
	}
	.closeinfo2026_html .menu-slide a {
    display: inline-block;
		width: 100%;
    font-size: 16px;
    text-decoration: none;
		box-sizing: border-box;
	}
	.closeinfo2026_html .menu-slide .menu-slide_logo {
		width: 150px;
		margin: 0 auto;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_01,
	.closeinfo2026_html .menu-slide .menu-slide_link_block_02 {
		padding-left: 0;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_01 li {
		list-style:none;
		border-top: 2px solid #c3c3c3;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_01 li:last-of-type {
		border-bottom: 2px solid #c3c3c3;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_01 li a {
		position: relative;
    padding: 20px 25px 20px 5px;
    color: #4b4b4b;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_01 li a::after {
		content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
		border: 8px solid transparent;
		border-left: 12px solid #4B4B4B;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_02 {
		max-width: 188px;
		margin: 50px auto 0;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_02 li {
		list-style:none;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_02 li:nth-of-type(n+2) {
		margin-top: 20px;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_02 li a {
		padding: 13px 10px;
		text-align: center;
		font-weight: bold;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_02 li.member a {
		color: #fff;
		background: #ca1032;
	}
	.closeinfo2026_html .menu-slide .menu-slide_link_block_02 li.login a {
		padding-left: 40px;
    color: #ca1032;
    background: url(../img/ic_d.png) no-repeat;
    background-size: 20px 28px;
    background-position: 30px 50%;
    border: 2px solid #ca1032;
	}
	
	.closeinfo2026_html .menu-btn {
		cursor: pointer;
		font-size: 16px;
		background: none;
		border: none;
		transition: opacity 0.3s ease-in-out;
	}
	.closeinfo2026_html .menu-btn .bar {
		display: block;
		width: 29px;
		height: 3px;
		background: #4B4B4B;
		margin: 3px 0;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
	.closeinfo2026_html .menu-btn.active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}
	.closeinfo2026_html .menu-btn.active .bar:nth-child(2) {
		opacity: 0;
	}
	.closeinfo2026_html .menu-btn.active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
}
/*固定ヘッダー終わり*/