@charset "utf-8";
/* CSS Document */
#campaign_finish_common_fixednews>div{
    background: #000c;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
    padding: 16px 0;
    right: 0;
    left: 0;
    z-index: 2;
}
#campaign_finish_common_fixednews br{
        display: none;
    }
#campaign_finish_common_fixednews strong{
    font-size: 28px;
}
#campaign_finish_common_fixednews .campaign_finish_common_fixednews_btn{
    color: #fff;
    border-radius: 15px;
    border-bottom: 6px solid #97000c;
    background: linear-gradient(to top, #ed0c00, #ff0d00);
    text-decoration: none;
    display: block;
    padding: 0px 10px 5px;
    box-sizing: border-box;
    text-align: center;
    width: 720px;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}
#campaign_finish_common_fixednews span{
    font-size:24px;
    margin: 0 -10px;
}#campaign_finish_common_fixednews p+p{
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-top: -4px;
}
#campaign_finish_common_fixednews .text{
    color: #fff;
    text-align: center;
    font-size: 16px;
}
#campaign_finish_common_fixednews .text a{
    color: #fff;
    text-decoration: underline;
}
#campaign_finish_common_fixednews .campaign_finish_common_fixednews_btn:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% + 5px);
    right: 30px;
    width: 12px;
    height: 12px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transform: translateY(-50%) rotate(-45deg);
    vertical-align: middle;
}
@media screen and (max-width:768px) {
#campaign_finish_common_fixednews p{
            font-size: 16px;
        line-height: 19px;
}
  #campaign_finish_common_fixednews br{
        display: block;
    }
}