@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%; /* iPhoneでランドスケープにした時に文字サイズ自動変更禁止 */
  font-size: 62.5%;
}
body {
   line-height: 1.6;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
    color: #333;
}
main {
	position: relative;
	z-index: 1;
}
section {
	position: relative;
	z-index: -1;
}
.sticky_block{
	
	z-index: 30;
}
.sptbOnly{z-index: 30;}
img {
max-width: 100%;
height: auto;
vertical-align: bottom;
}

@media screen and (min-width:1100px) {
	.sptbOnly{
		display: none!important;
	}
}
@media screen and (min-width:768px) {
	.spOnly{
		display: none!important;
	}
}
@media screen and (max-width:1099.98px) {
	.pcOnly {
		display: none!important;
	}
	.sptbOnly{
		display: block!important;
	}
	.spOnly{
		display: block!important;
	}
}
@media screen and (max-width:768px) {
	.spOnly{
		display: block!important;
	}
}
/*共通*/
#biccamera202506 h2{
	text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 30px;
    padding-top: 30px;
	
}
#biccamera202506 h2 span{
	    display: block;
    padding: 3px 0;
    background-color: #d00e31;
    width: 100px;
    margin: -1px auto 0px;
	
}
#biccamera202506 .customervoice_bg h2{
	color:#fff;
}
@media screen and (max-width:768px) {
	#biccamera202506 h2 span {
		display: block;
		padding: 2px 0;
		background-color: #d00e31;
		width: 84px;
		margin: -1px auto 0px;
	}
	#biccamera202506 .customervoice_bg h2
 {
   font-size: 21px;
	         margin-top: 10px;
}
}

/*共通おわり*/

/*KV*/

#biccamera202506 .biccamera202506_bg{

}
#biccamera202506 h1{
	background-color: #d00e31;
	text-align: center;
	padding: 15px 0 15px;
}
/*KVおわり*/

/*ロゴかける*/
#biccamera202506 .biccamera202506_inner{
	width: 750px;
	margin: 30px auto;
}
#biccamera202506 .whatis figure{
	width:80%;
	margin: auto;
}
#biccamera202506 .whatis >p:nth-of-type(1){
	padding-bottom: 14px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background: url(../img/biccamera202506_02.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto 0;
    background-size: 376px 59px;
}
#biccamera202506 .whatis >p:nth-of-type(n+2){
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}
#biccamera202506 .whatis >p:nth-of-type(3){
	margin-top: -9px;
}
#biccamera202506 .whatis .red_bold_big,#biccamera202506 .whatis .red_bold_mid{
	font-weight: bold;
	color: #d00e31;
}
#biccamera202506 .whatis .red_bold_big{
	font-size: 37px;
}
#biccamera202506 .whatis .red_bold_mid{
	font-size: 28px;
}
#biccamera202506 .whatis .small{
	font-size: 16px;
}
#biccamera202506 .whatis .recomend p{
	font-size: 20px;
	font-weight: 500;
	padding: 7px 0 30px;;
	text-align: center;
	background-image: url("../img/biccamera202506_04.png");
	background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-size: 40%;
}
#biccamera202506 .whatis .recomend {
	margin-top: 30px;
}
#biccamera202506 .whatis .recomend ul{
	width: 410px;
	margin: auto;
}
#biccamera202506 .whatis .recomend li {
	padding-left: 30px;
	font-weight: 500;
	font-size:18px;
	background-image: url("../img/biccamera202506_03.png");
	background-repeat: no-repeat;
	background-position: left;
	    background-size: 4%;
}
@media screen and (max-width:768px) {
	#biccamera202506 .biccamera202506_inner{
	width: 100%;
	margin: 14px auto;
	min-width: unset;
}
#biccamera202506 .whatis .recomend ul{
	width: 90%;
	margin: auto;
	max-width: 410px;
}
	#biccamera202506 .whatis .recomend li {
    padding-left: 30px;
    font-weight: 600;
    font-size: 18px;
    background-image: url(../img/biccamera202506_03.png);
    background-repeat: no-repeat;
    background-position: left 63%;
    background-size: 6%;
		line-height: 18px;
}
	#biccamera202506 .whatis .recomend li + li{
    margin-top: 15px;
}
	#biccamera202506 .whatis .recomend p {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0 30px;
    text-align: center;
    background-image: url(../img/biccamera202506_04.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-size: 64%;
}
	#biccamera202506 .whatis figure{
	width:98%;
}
	#biccamera202506 .whatis >p:nth-of-type(1) {
    padding-bottom: 8px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        background: url(../img/biccamera202506_02.png);
        background-repeat: no-repeat;
        background-position: center;
        margin:15px auto 0px;
        background-size: 304px 43px;
}
	#biccamera202506 .whatis >p:nth-of-type(n+2){
	font-size: 18px;
}
	#biccamera202506 .whatis .small {
    font-size: 12px;
}
	#biccamera202506 .whatis .red_bold_big {
    font-size: 26px;
}
	#biccamera202506 .whatis .red_bold_mid
 {
    font-size: 20px;
}
	#biccamera202506 .whatis .recomend {
    margin-top: 10px;
}
	#biccamera202506 .whatis >p:nth-of-type(3)
 {
    margin-top: -6px;
}
	#biccamera202506 .biccamera202506_btn {
    margin: 40px auto 45px;
}
}
/*ロゴかけるおわり*/

/*ボタン*/

#biccamera202506 .biccamera202506_btn {
	font-size: 22px;
	margin: 50px auto 55px;
	text-align: center;
	border-radius: 30px;
	padding: 10px 0;
	color: #fff;
	font-weight:500;
	width: 500px;
	background-color: #d00e31;
    box-shadow: 4px 4px 0px #910a22;
	position:relative;
	z-index: -4;
}
#biccamera202506 .biccamera202506_btn a {
	text-decoration: none;
	color: #fff;
		position: relative;
    z-index: -3;
	}

#biccamera202506 .biccamera202506_btn a::after
 {
   content: '';
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 19px;
    width: 0;
    height: 0;
    margin: auto;
    border-top: 12px solid transparent;
    border-right: 0 solid transparent;
    border-left: 17px solid #fff;
    border-bottom: 12px solid transparent;
    box-sizing: border-box;
}
#biccamera202506 .biccamera202506_btn:hover,#biccamera202506 a:hover{
	opacity: 0.85;
}
@media screen and (max-width:768px){
	#biccamera202506 .biccamera202506_btn {
    width:94%;
	max-width: 500px;
	font-size: 16px;
		font-weight: bold;
		        margin: 35px auto 30px;
}
	#biccamera202506 .biccamera202506_btn a::after
 {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 0;
    right: 14px;
    width: 0;
    height: 0;
    margin: auto;
    border-top: 8px solid transparent;
    border-right: 0 solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    box-sizing: border-box;
}
	#biccamera202506 .biccamera202506_btn:nth-of-type(3){
		margin: 25px auto 35px;
	}
}
/*おすすめポイント*/
#biccamera202506 .recomendpoint_bg {
	background-color: #f5f0e4;
	padding-bottom: 20px;
	    padding-top: 1px;
}
#biccamera202506 .recomendpoint_bg ul{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#biccamera202506 .recomendpoint_bg ul + ul{
	display:block;
    font-size: 12px;
	margin: 20px auto 0;
	width: 700px;
}
@media screen and (max-width:768px) {
	#biccamera202506 .recomendpoint_bg li{
    width: 30%;
}
	#biccamera202506 .recomendpoint_bg ul +ul li{
    width: 100%;
        text-indent: -20px;
        padding-left: 20px;
}
	#biccamera202506 h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 20px;
    padding-top: 20px;
}
	#biccamera202506 .recomendpoint_bg ul + ul {
    margin: 20px auto 0;
    width: 95%;
		
}
}
/*おすすめポイントおわり*/


/*料金表*/
/*bic追加分*/
#biccamera202506 .c-plan-section td{
	text-align: center;
	vertical-align: middle;
}
/*料金表元*/
 #biccamera202506 .price-list table{
	     margin: auto;
    width: 75%;
    min-width: 710px;
    border-collapse: collapse;
  /*表全体を線で囲う*/
}

#biccamera202506 .c-plan-section tr:nth-of-type(2) p:nth-of-type(2) {
    margin: -14px 0 -7px 16px;
}
#biccamera202506 .c-plan-section td:nth-of-type(3) .price-box{
	margin: auto;
	background-color: #149ac8;
	    width: 66px;
    height: 7px;
	border-radius: 5px;
}
#biccamera202506 .c-plan-section td:nth-of-type(2) .price-box{
	margin: auto;
	background-color: #b3d137;
	    width: 66px;
    height: 7px;
	border-radius: 5px;
}
#biccamera202506 .c-plan-section td:nth-of-type(1) .price-box{
	margin: auto;
	background-color: #a98a2f;
	    width: 66px;
    height: 7px;
	border-radius: 5px;
}
#biccamera202506 .c-plan-section tr td:nth-of-type(1){
	color: #a98a2f;
	border-color: #e7bd40;
	border-width: 5px;
	border-style: solid;
	border-top:none;
}
#biccamera202506 .c-plan-section tr td:nth-of-type(1){
	height:106px;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	border-top-width: 1px;
}

#biccamera202506 .c-plan-section tr td:nth-of-type(2){
	color: #93ac2d;
	border-color: #c0c0c0;
	border-width: 1px;
	border-style: solid;
}
#biccamera202506 .c-plan-section tr:nth-of-type(4) td:nth-of-type(1){
	color: #646464;
}
#biccamera202506 .c-plan-section tr:nth-of-type(4) td:nth-of-type(2){
	color: #646464;
}
#biccamera202506 .c-plan-section tr:nth-of-type(4) td:nth-of-type(3){
	color: #646464;
}
#biccamera202506 .c-plan-section tr td:nth-of-type(3){
	color: #149ac8;
	border-color: #c0c0c0;
	border-width: 1px;
	border-style: solid;
}
#biccamera202506 .c-plan-section tr:nth-of-type(8) td:nth-of-type(1){
	border-bottom-color: #e7bd40;
	border-bottom-width: 5px;
}
#biccamera202506 .c-plan-section tr td:nth-of-type(1) .title_normal {
	text-align: center;
	margin-bottom: 10px;
	background-color: #cd9c0b;
	color: #fff;
	    display: inline-block;
}
#biccamera202506 .c-plan-section tr td:nth-of-type(2) .title_normal {
	    text-align: center;
	margin-bottom: 10px;
	background-color: #9cc100;
	color: #fff;
	    display: inline-block;
}
#biccamera202506 .c-plan-section tr td:nth-of-type(3) .title_normal {
	    text-align: center;
	margin-bottom: 10px;
	background-color: #1ac4ff;
	color: #fff;
	    display: inline-block;
}
#biccamera202506 .c-plan-section	.price-list > div{
		min-width:710px;
		margin: 0 auto;
		width: 75%;
}
#biccamera202506 .c-plan-section	.price-list > div >div{
	text-align: center;
    width: 33%;
    position: relative;
    z-index: 99;
    top: 17px;
}
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi{
	width:34%;

}
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::before,
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #d5a000;
	position: relative;
}
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::before {
	    transform: rotate(60deg);
    top: -70px;
    left: 17%;
}
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::after {
	    bottom: 74px;
    transform: rotate(120deg);
    right: -70%;

}
#biccamera202506 .c-plan-section td {
	padding: 5px 10px;
}
#biccamera202506 .c-plan-section tr:nth-of-type(2) td{
    padding: 0 10px;
}
/*1年プランの上の部分*/
#biccamera202506 .c-plan-section th p + p{
	margin: -9px 0 8px;
}
#biccamera202506 .c-plan-section tr:nth-of-type(1) th:nth-of-type(1){

background: linear-gradient(90deg, rgba(227,191,80,1) 0%, rgba(226,184,39,1) 45%, rgba(242,220,94,1) 100%);
	color: #fff;
	border-top-color:#e7bd40; 
	border-left-color: #e7bd40;
	border-right-color: #e7bd40;
	border-top-width:5px; 
	border-left-width: 5px;
	border-right-width: 5px;
	border-style: solid;
	border-bottom: none;
	position: relative;
	
}

#biccamera202506 tr:nth-of-type(1) th:nth-of-type(1)::before{
  content: '';
    width: 100%;
    border: 5px solid #e7bd40;
	border-bottom: none;
    height: 10px;
    position: absolute;
	background: linear-gradient(90deg, rgba(227,191,80,1) 0%, rgba(226,184,39,1) 45%, rgba(242,220,94,1) 100%);
    left: -5px;
    bottom: 100%;
    margin: auto;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	background-position: 50%;
}
#biccamera202506 tr:nth-of-type(1) th:nth-of-type(1)::after{
  content: 'おすすめ!';
  width: max-content;
  color:#d5a000;
  font-size: 23px;


  position: absolute;
  top: -72px;
  left: 50%;
  transform: translateX(-50%);
}
#biccamera202506 .c-plan-section tr:nth-of-type(1) th:nth-of-type(2){
	background-color: #b3d137;
	color: #fff;
	border-top-color:#b3d137;
	border-right-color:#b3d137;
	border-style: solid;
	border-left: none;
	border-bottom: none;
	vertical-align: middle;
}
#biccamera202506 .c-plan-section tr:nth-of-type(1) th:nth-of-type(3){
	background-color: #1ac4ff;
	color: #fff;
	border-top-color:#1ac4ff;
	border-left-color:#1ac4ff;
	border-right-color:#1ac4ff;
	vertical-align: middle;
}

/*余白*/
#biccamera202506 .c-plan-section tr:nth-of-type(3) p:nth-of-type(2){
	margin: -14px 0 -7px;
}
#biccamera202506 .c-plan-section tr:nth-of-type(4) p:nth-of-type(2){
	margin: 3px 0 0px;
	
}
#biccamera202506 .c-plan-section tr:nth-of-type(6) p:nth-of-type(2){
	margin: -9px 0 0;
}
#biccamera202506 .c-plan-section  tr:nth-of-type(n+7) p +p{
	margin: auto;
	width: 80%;
	text-align: left;
}
#biccamera202506 .c-plan-section .title_normal {
	padding: 6px 20px;
	width: 100%;
}
#biccamera202506 .c-plan-section  tr:nth-of-type(n+7) p:nth-of-type(3){
	margin-bottom: -10px;
    margin-top: 10px;
}
#biccamera202506 .c-plan-section .price-list .fo16_normal{
	font-size:16px;
}
#biccamera202506 .c-plan-section .price-list .title_normal{
	font-size:18px;
}
#biccamera202506 .c-plan-section .price-list .title_normal{
	font-weight: bold;
}
#biccamera202506 .c-plan-section .price-list .fo20_normal{
	font-size:20px;
}
#biccamera202506 .c-plan-section .fo23_normal{
	font-size:23px;
}
#biccamera202506 .c-plan-section .price-list .fo25_normal{
	font-size:25px;
}
#biccamera202506 .c-plan-section .price-list .fo30_bold{
	font-size:30px;
	font-weight: bold;
}
#biccamera202506 .c-plan-section .price-list .fo40_bold_big{
	margin-right: 3px;
	font-size:40px;
	font-weight: bold;
}
#biccamera202506 .only_bold {
	font-weight: bold;
}
#biccamera202506 .c-plan-section .price-list .fo22_bold{
	font-weight: bold;
	font-size: 22px;
}
#biccamera202506 .c-plan-section .price-list {
	margin-top: 20px;
	margin-bottom: 8px;
}
#biccamera202506 .c-plan-section tr:nth-of-type(8) .title_normal {
	padding: 14px 20px;
}
@media screen and (max-width:768px) {
	#biccamera202506 .c-plan-section .price-list {
    margin-top: 36px;
    margin-bottom: 8px;
}
	#biccamera202506 .c-plan-section .price-list > div >div {
    width: 34%;
}
	#biccamera202506 .c-plan-section tr:nth-of-type(4) td{
	padding: 0;
	
}
	#biccamera202506 .c-plan-section tr:nth-of-type(n+7) p +p {
    margin: auto;
    width: 100%;
    text-align: left;
}
	#biccamera202506 .c-plan-section tr:nth-of-type(8) .title_normal {
    padding: 14px 0px;

}
	#biccamera202506 .c-plan-section tr:nth-of-type(2) p:nth-of-type(2) {
    margin: -10px 0 -7px;
}
	#biccamera202506 .c-plan-section .c-plan-caution,
	#biccamera202506 .c-plan-section .u-small,
	#biccamera202506 .c-plan-section .notes,
	#biccamera202506 .c-plan-section .c-logout-plan-note,
	#biccamera202506 .c-plan-section .c-logout-fee,
	#biccamera202506 .c-plan-section .c-logout-d-card,
	#biccamera202506 .c-plan-section .c-logout-6services{
		padding: 0 10px;
	}
	#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi{
	width:34%;

}
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::before,
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::after {
  width: 20px;
        height: 2px;
}
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::before {
	    transform: rotate(60deg);
           top: -56px;
        left: 24%;
}
#biccamera202506 .c-plan-section	.price-list > div .icon_hukidasi::after {
	 bottom: 60px;
        transform: rotate(120deg);
        right: -66%;

}

	#biccamera202506 .c-plan-section .price-list .fo16_normal {
    font-size: 10px;
}
	#biccamera202506 .c-plan-section tr:nth-of-type(3) p:nth-of-type(2) {
    margin: -10px 0 -5px;
}
	#biccamera202506 tr:nth-of-type(1) th:nth-of-type(1)::after {
    font-size: 15px;
    top: -58px;
}
	#biccamera202506 .c-plan-section .price-list > div >div {
    top: 10px;
}
	#biccamera202506 .c-plan-section .price-list > div >div img{
   min-width: 43px;
        width: 20%;
}
	#biccamera202506 .c-plan-section .price-list > div {
    min-width: 334px;
    margin: 0 auto;
    width: 100%;
}
	#biccamera202506 .price-list table{
		width: 98%;
        min-width: unset;
		margin: auto;}
	/*文字のサイズ*/
	
#biccamera202506 .c-plan-section .price-list .title_normal{
	font-size: 13px;
        letter-spacing: -0.5px;
}
#biccamera202506 .c-plan-section .price-list .title_normal{
	font-weight: normal;
}
   #biccamera202506 .c-plan-section .price-list  .fo20_normal {
        font-size: 14px;
    }
#biccamera202506 .c-plan-section .fo23_normal{
	font-size:13px;
}
 #biccamera202506 .c-plan-section .price-list  tr:nth-of-type(3) .fo23_normal {
        font-size: 14px;
        letter-spacing: -0.5px;
    }
	
	#biccamera202506 .c-plan-section .price-list  tr:nth-of-type(4) .fo23_normal {
        font-size: 17px;
    
    }
#biccamera202506 .c-plan-section .price-list .fo25_normal{
	font-size:16px;
}
#biccamera202506 .c-plan-section .price-list .fo30_bold{
	font-size:22px;
	font-weight: bold;
}
#biccamera202506 .c-plan-section .price-list .fo40_bold_big{
	margin-right: 3px;
	font-size:28px;
	font-weight: bold;
}
#biccamera202506 .only_bold {
	font-weight: bold;
	font-size: 15px;
}
#biccamera202506 .c-plan-section .price-list .fo22_bold{
	font-weight: bold;
	font-size: 16px;
	letter-spacing: -0.5px;
}
	#biccamera202506 .c-plan-section  tr:nth-of-type(n+7) p{
	width: 100%;
		letter-spacing: -0.5px;
		margin: auto;
}
		#biccamera202506 .c-plan-section  tr:nth-of-type(n+7) td{
	padding: 0 0 10px;
}
	#biccamera202506 .c-plan-section  tr:nth-of-type(n+7) td:nth-of-type(2),.c-plan-section  tr:nth-of-type(n+7) td:nth-of-type(3){

}

	#biccamera202506 .c-plan-section .title_normal {
    padding: 6px 0;
}
	#biccamera202506 .c-plan-section .price-box {
    width: 50%;
	height: 6px;
}
	#biccamera202506  .c-plan-section {
		padding: 0;
	}
	#biccamera202506 .c-plan-section td {
    padding: 17px 0px;
}
	#biccamera202506 .c-plan-section tr td:nth-of-type(1) {
    border-width: 3px;
}
#biccamera202506 .c-plan-section tr td:nth-of-type(1) {
    height: 65px;
    border-bottom-color: #c0c0c0;
    border-bottom-width: 1px;
    border-top-width: 1px;
}
#biccamera202506 .c-plan-section tr:nth-of-type(1) th:nth-of-type(1) {
    color: #fff;
    border-top-color: #e7bd40;
    border-left-color: #e7bd40;
    border-right-color: #e7bd40;
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-style: solid;
    border-bottom: none;
    position: relative;
	}#biccamera202506 .c-plan-section tr:nth-of-type(1) th:nth-of-type(1) p {
		line-height: 27px;
	}
	#biccamera202506 .c-plan-section tr:nth-of-type(8) td:nth-of-type(1) {
    border-bottom-width: 3px;
}
	    #biccamera202506 .c-plan-section .price-list tr:nth-of-type(5) .fo20_normal {
        font-size: 15px;
        line-height: 13px;
        margin: auto;
    }
	#biccamera202506 .c-plan-section tr:nth-of-type(6) p:nth-of-type(2) {
            margin: -5px 0 -9px;
}
	#biccamera202506 .c-plan-section  tr:nth-of-type(n+7) p + p{
		text-align: center;
		margin: auto;
}

	#biccamera202506 .c-plan-section tr:nth-of-type(1) th:nth-of-type(1)::before {
    border: 3px solid #e7bd40;
    border-bottom: none;
    height: 10px;
    position: absolute;
    background: linear-gradient(90deg, rgba(227, 191, 80, 1) 0%, rgba(226, 184, 39, 1) 45%, rgba(242, 220, 94, 1) 100%);
    left: -3px;
    bottom: 100%;
    margin: auto;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-position: 50%;
}
	#biccamera202506 .c-plan-section tr:nth-of-type(n+7) p:nth-of-type(3) {
    margin-bottom: -6px;
    margin-top: 4px;
}
}
/*料金おわり*/

/*料金下注釈*/
#biccamera202506 .c-plan-section .left-caution{
	font-size: 12px;
	margin: 20px auto 10px;
}
#biccamera202506 .c-plan-section .left-caution p{
	text-indent: -20px;
	padding-left: 20px;
}
#biccamera202506 .c-plan-section .left-caution-big p{
	font-size: 12px;
    background-image: url(../img/logout-caution.png);
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: top 50% left;
    padding-left: 18px;
}
#biccamera202506 .c-plan-section .left-caution-big p +p{
	margin-top: 5px;
}
@media screen and (max-width:768px) {
	#biccamera202506 .c-plan-section .left-caution {
    width: 95%;
}
	#biccamera202506 .c-plan-section .left-caution-big p {
    background-size: 4%;

}
	#biccamera202506 .c-plan-section .left-caution {
    font-size: 12px;
    margin: 11px auto 10px;
}
}
/*料金下注釈おわり*/

/*その他料金*/
#biccamera202506 .exchsection >div,#biccamera202506 .exchsection dl{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#biccamera202506 .exchsection dl{
	border: 1px solid #ffd8db;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}
#biccamera202506 .exchsection dl dt{
	    display: flex;
    width: 40%;
    background-color: #ffd8db;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
	font-size: 16px;
}
#biccamera202506 .exchsection >div {
	
}
#biccamera202506 .exchsection >div>div{
	width:55%;
	border: 1px solid #ebe6e6;
	    padding: 20px 0;
}
#biccamera202506 .exchsection >div>div>p{
	margin-bottom: 15px;
	font-weight: 500;
}
#biccamera202506 .exchsection >div>div + div{
	width:40%;
	border: none;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
#biccamera202506 .exchsection >div>div + div >div{
	border: 1px solid #ebe6e6;
	padding: 20px 0;
}
#biccamera202506 .exchsection >div>div + div >div >p:nth-of-type(1){
	font-weight: 500;
	margin-bottom: 3px;
}
#biccamera202506 .exchsection >p{
	margin-bottom: 20px;
	font-weight: 600;
}
#biccamera202506 .exchsection p{
	text-align: center;
}
#biccamera202506 .exchsection .taxin{
	font-size: 14px;
	display: inline-block;
	margin-top: -7px;
}

#biccamera202506 .exchsection dl+dl{
	margin-top: 10px;
	border: 1px solid #8fbfe2;
}
#biccamera202506 .exchsection dl+dl dt{
	background-color: #8fbfe2;
}
#biccamera202506 .exchsection dl dd{
	width:60%;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
	    align-items: center;
	padding: 9px 0 7px;
}
#biccamera202506 .exchsection .left-caution{
    font-size: 12px;
    margin:0 auto;
	width: 90%;
}
#biccamera202506 .exchsection .left-caution p{
    text-align: left;
	text-indent: -15px;
	line-height: 13px;
}
#biccamera202506 .exchsection .left-caution p+p{
    text-align: left;
	text-indent: -15px;
}
#biccamera202506 .exchsection dl .left-caution{
	width: 57%;
}
@media screen and (max-width:768px) {
	#biccamera202506 .exchsection >div>div + div >div {
    padding: 12px 0 20px;
}
	#biccamera202506 .exchsection >div, #biccamera202506 .exchsection dl {
    flex-direction: column;
}
	#biccamera202506 .exchsection >div>div {
    width: 90%;
    border: 1px solid #ebe6e6;
    padding: 20px 0;
   margin: 0 auto;
}
	#biccamera202506 .exchsection dl dt {
    width: 100%;
    font-size: 16px;
}
	#biccamera202506 .exchsection dl dd {
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 9px 0 7px;
    margin: auto;
}
	#biccamera202506 .exchsection dl .left-caution {
    width: 75%;
}
	#biccamera202506 .exchsection dl dt {
    padding: 7px 0;

}
	#biccamera202506 .exchsection >div>div + div {
    width: 90%;
}
	#biccamera202506 .exchsection >div>div + div >div {
    margin-top: 20px;
}
}
/*その他料金おわり*/

/*ゴルフ場*/
#biccamera202506 .section_map {
	margin-bottom: 0;
}
#biccamera202506 .section_map .inner > div {
    max-width:750px; display: block; margin: 0 auto;
}

#biccamera202506 .section_map .preflist1 h3 { border-bottom: 3px solid #D00E31; display: block; font-size:25px; padding-bottom: 9px; margin-bottom: 9px; }
#biccamera202506 .section_map .preflist1 h4 { font-size:17px; font-weight: 500; line-height: auto; }
#biccamera202506 .section_map .preflist1 {
    padding-top: 20px;
}
#biccamera202506 .section_map .preflist1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px 25px;
  grid-auto-flow: row;
  grid-template-areas:
    "p1 p2 p7"
    "p1 p3 p7"
    "p1 p4 p5"
    "p8 p6 .";
}
#biccamera202506 .section_map .pref11 { grid-area: p1; }
#biccamera202506 .section_map .pref12 { grid-area: p2; }
#biccamera202506 .section_map .pref13 { grid-area: p3; }
#biccamera202506 .section_map .pref14 { grid-area: p4; }
#biccamera202506 .section_map .pref15 { grid-area: p5; }
#biccamera202506 .section_map .pref16 { grid-area: p6; }
#biccamera202506 .section_map .pref17 { grid-area: p7; }
#biccamera202506 .section_map .pref18 { grid-area: p8; }
#biccamera202506 .section_map .pref21 { grid-area: p21; }
#biccamera202506 .section_map .pref22 { grid-area: p22; }
#biccamera202506 .section_map .pref23 { grid-area: p23; }
#biccamera202506 .section_map .pref25 { grid-area: p25; }
#biccamera202506 .section_map .pref26 { grid-area: p26; }

#biccamera202506 .section_map .preflist2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px 20px;
  grid-template-areas:
  "p21 p22 p25"
  "p21 p23 p26";
}
#biccamera202506 .section_map .preflist2 h3 { border-bottom: 3px solid #D00E31; display: block; font-size:25px; padding-bottom: 9px; margin-bottom: 9px; }
#biccamera202506 .section_map .preflist2 h4 { font-size:17px; font-weight: 500; line-height: auto; }

#biccamera202506 .section_map .course{
  white-space: nowrap;
}
#biccamera202506 .section_map .new{
  background-color: #D00E21;
  color: #ffffff;
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 6px;
  font-weight: 500;
}

#biccamera202506 .section_map .inner .widthfull {
    text-align: center;
}
	#biccamera202506 .section_map .inner .widthfull img{
    width: 75%;
	} #biccamera202506 .section_map .inner .img_center{
		text-align: center;
		margin: auto;
	}


@media (max-width: 920px) {
  #biccamera202506 .section2 .inner > div,
  #biccamera202506 .section_map .inner > div {
    padding-left: 10px; padding-right: 10px;
  }
}
@media (max-width: 1100px) {
	#biccamera202506 .section_map .inner .widthfull {
    text-align: center;
}
	#biccamera202506 .section_map .inner .widthfull img{
    width: 75%;
	} #biccamera202506 .section_map .inner .img_center{
		text-align: center;
		margin: auto;
	}
}
@media (max-width: 768px) {
#biccamera202506 .section_map .inner .widthfull img
 {
        width: 100%;
    }
  #biccamera202506 .pc { display:none!important; }
  #biccamera202506 .sp { display: block!important; }
  #biccamera202506 .pc_br { display: inline; }

  #biccamera202506 img { width: 100%; }
  #biccamera202506 section { overflow-x: hidden; }

  #biccamera202506 .section1 .inner { padding: 0px 16px; }
  #biccamera202506 .section2 .inner { padding: 0px 16px; }
  #biccamera202506 .section3 .inner { padding: 0px 16px; }
  #biccamera202506 .section4 .inner { padding: 0px 16px; }
  #biccamera202506 .section5 .inner { padding: 40px 16px; padding-bottom: 25px; }
  #biccamera202506 .section_map .inner { padding: 0; padding-bottom: 60px; }

  #biccamera202506 .section5 h2 {
    width: 83%;
    margin: 0 auto;
  }

  #biccamera202506 .section5 .plan {
    grid-template-columns: 1fr; gap: 25px; padding: 10px 0;
  }
  #biccamera202506 .section5 .plan > div {
    margin: 0 auto;
    width: 288px;
  }
  #biccamera202506 .section_map .preflist1, 
  #biccamera202506 .section_map .preflist2, 
  #biccamera202506 .section5 .etc1, 
  #biccamera202506 .section5 .etc2 {
    grid-template-columns: 1fr;
    grid-template-areas: none;
  }
  #biccamera202506 .section5 .etc1 { row-gap: 4px; }
  #biccamera202506 .section5 .etc2 { padding-top: 0; gap: 17px; }
  #biccamera202506 .section5 .etc2 p.etc2note { font-size: 12px; text-align: right; }
  
  #biccamera202506 .section_map .pref11 { grid-area:unset; }
  #biccamera202506 .section_map .pref12 { grid-area:unset; }
  #biccamera202506 .section_map .pref13 { grid-area:unset; }
  #biccamera202506 .section_map .pref14 { grid-area:unset; }
  #biccamera202506 .section_map .pref15 { grid-area:unset; }
  #biccamera202506 .section_map .pref16 { grid-area:unset; }
  #biccamera202506 .section_map .pref17 { grid-area:unset; }
  #biccamera202506 .section_map .pref18 { grid-area:unset; }
  #biccamera202506 .section_map .pref21 { grid-area:unset; }
  #biccamera202506 .section_map .pref22 { grid-area:unset; }
  #biccamera202506 .section_map .pref23 { grid-area:unset; }
  #biccamera202506 .section_map .pref25 { grid-area:unset; }
  #biccamera202506 .section_map .pref26 { grid-area:unset; }
 
  #biccamera202506 .section_map .preflist1 { padding-top: 0px; width: 80%;
        margin:  20px auto 0;}
	#biccamera202506 .section_map .preflist2 { padding-top: 0px; width: 80%;
        margin: 20px auto 0;}
  #biccamera202506 .section_map .preflist1 h3 { font-size:20px; }
  #biccamera202506 .section_map .preflist1 h4 { font-size:14px; }
  #biccamera202506 .section_map .preflist2 h3 { font-size:20px; }
  #biccamera202506 .section_map .preflist2 h4 { font-size:14px; }
}
/*ゴルフ場おわり*/

/*登録フロー*/
#biccamera202506 .flow_bg{
	background-color: #f1f2f5;
	padding-bottom: 20px;
	    padding-top: 1px;
}
#biccamera202506 .flow_bg .biccamera202506_inner >div{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
	align-items: center;
	justify-content: space-evenly;
}
#biccamera202506 .flow_bg .biccamera202506_inner >div + div{
	background-image: url(../img/biccamera.png);
    background-repeat: no-repeat;
    background-position: 48% 22px;
    padding-top: 50px;
    background-size: 5%;
}
#biccamera202506 .flow_bg .biccamera202506_inner >div >div{
	width: 10%;
	margin-right: -10px;
	z-index: 1;
}
#biccamera202506 .flow_bg .biccamera202506_inner div div+div{
	background-color: #fff;
	width: 90%;
	padding: 12px 12px 15px 25px;
	z-index: 0;
	margin-right: 0;
}
#biccamera202506 .flow_bg .biccamera202506_inner div div+div p{
	font-size: 24px;
	font-weight: 500;
}
#biccamera202506 .flow_bg .biccamera202506_inner div div+div p+p{
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}
@media screen and (max-width:768px) {
	#biccamera202506 .flow_bg .biccamera202506_inner div div+div p {
    font-size: 18px;
    font-weight: 500;
}
	#biccamera202506 .flow_bg .biccamera202506_inner >div {
    width: 95%;
}
	#biccamera202506 .flow_bg .biccamera202506_inner div div+div p+p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
	#biccamera202506 .flow_bg .biccamera202506_inner >div >div {
    width: 15%;
}
	#biccamera202506 .flow_bg .biccamera202506_inner div div+div {
    width: 86%;
}
	#biccamera202506 .flow_bg .biccamera202506_inner >div + div{
    background-position: 50% 20px;
    background-size: 9%;
	}
}
/*登録フローおわり*/

/*会員の声*/
#biccamera202506 .customervoice_bg img{
	width:100px;
}
#biccamera202506 .customervoice_bg{
	background-color: #d00e31;
	padding-bottom: 20px;
}
#biccamera202506 .customervoice_bg .biccamera202506_inner{
	margin-top: 0;
}
#biccamera202506 .customervoice_bg > div >div{
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: auto;
	width:80%;
	border-radius: 14px;
	padding: 16px 0;
	box-shadow: 0px 0px 5px #49010e;
}
#biccamera202506 .customervoice_bg > div >div+div{
	margin-top: 20px;
}

#biccamera202506 .customervoice_bg > div >div p:nth-of-type(2){
	font-size: 18px;
}
#biccamera202506 .customervoice_bg > div >div>div:nth-of-type(1){
	width: 60%
}
#biccamera202506 .customervoice_bg > div >div>div:nth-of-type(2){
	width: 20%
}
#biccamera202506 .customervoice_bg > div >div{
	text-align: left;
}
#biccamera202506 .customervoice_bg > div >div p{
	font-weight: 500;
	margin-bottom: 10px;
}
#biccamera202506 .customervoice_bg > div >div>p{
	font-size: 25px;
	color: #d00e31;
	font-weight: 600;
}
#biccamera202506 .customervoice_bg > div >div:nth-of-type(2n){
	flex-direction: row-reverse;
}
@media screen and (max-width:768px) {
	#biccamera202506 .customervoice_bg > div >div{
	width:96%;
		box-shadow: 0px 0px 5px #ab2f45;
}
	#biccamera202506 .customervoice_bg > div >div p {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 21px;
}
	#biccamera202506 .customervoice_bg > div >div>p {
    font-size: 18px;
}
	#biccamera202506 .customervoice_bg > div >div>div:nth-of-type(2){
	width: 30%
}
}
/*会員の声おわり*/

/*キャンペーン*/
#biccamera202506 .campaign_bg h2 img{
	width: 48%;
    margin: 0 auto -20px;
}
#biccamera202506 .campaign_bg{
	background-color: #f1f2f5;
	padding-bottom: 20px;
	    padding-top: 1px;
}
#biccamera202506 .campaign_bg .biccamera202506_inner >div{
	background-color: #fff;
	box-shadow: 1px 1px 5px #979797;
	border-radius: 9px;
	width:80%;
	margin: auto;
	padding: 30px;
}
#biccamera202506 .campaign_bg .biccamera202506_inner >div figure{
	text-align: center;
	margin-bottom: 20px;
}
#biccamera202506 .campaign_bg .biccamera202506_inner >div img{
	width:100%;
	margin: auto;
}
#biccamera202506 .campaign_bg .biccamera202506_inner >div p{
	width:100%;
	margin: auto;
}
#biccamera202506 .campaign_bg .biccamera202506_inner >div p:nth-of-type(1){
	font-size: 25px;
	font-weight: 600;
	
}
#biccamera202506 .campaign_bg .biccamera202506_inner >div p:nth-of-type(2){
	line-height: 22px;
}
#biccamera202506 .campaign_bg .biccamera202506_inner >div p:nth-of-type(3){
	font-weight:500;
	margin-top: 5px;
}
@media screen and (max-width:768px) {
	#biccamera202506 .campaign_bg h2 img{
	width: 65%;
}
	#biccamera202506 .campaign_bg .biccamera202506_inner >div {
    background-color: #fff;
    box-shadow: 1px 1px 5px #979797;
    border-radius: 9px;
    width: 95%;
    margin: auto;
    padding: 15px 15px 30px;
}
	#biccamera202506 .campaign_bg .biccamera202506_inner >div p:nth-of-type(1)
 {
    font-size: 22px;
}
	#biccamera202506 .campaign_bg .biccamera202506_inner >div p:nth-of-type(2) {
    line-height: 20px;
    font-size: 16px;
}
	#biccamera202506 .campaign_bg .biccamera202506_inner >div p:nth-of-type(3) {
    font-weight: 600;
    margin-top: 9px;
    font-size: 15px;
    letter-spacing: -0.5px;
}
}
/*キャンペーンおわり*/

/*よくある質問*/
/*追加分*/
#biccamera202506 .bic_ac {
	width:80%;
	margin: auto;
}
#biccamera202506 .bic_ac .question_caution{
	font-size: 12px;
    padding-left: 56px;
    margin-top: -5px;
    line-height: 14px;
	
}
#biccamera202506 .bic_ac .bic_acitem{
	padding: 10px;
}
#biccamera202506 .bic_ac .bic_acquestion{
	background-image: url("../img/biccamera202506_q.png");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 6%;
}
#biccamera202506 .bic_ac .bic_acanswer{
	background-image: url("../img/biccamera202506_a1.png");
	background-repeat: no-repeat;
	background-size: 6%;
	background-position: 10px 54%;
}
#biccamera202506 .bic_ac .bic_acquestion p{
	font-weight: 500;
	padding: 12px;
	padding-left: 56px;
	padding-right: 61px;

	
}
#biccamera202506 .bic_ac .bic_acanswer p{
	padding: 12px;
	padding-left: 56px;
	padding-top: 20px;
	font-size: 17px;
	
}

#biccamera202506 .bic_ac .bic_acitem+.bic_acitem {
margin-top: 1rem;
}



#biccamera202506 .bic_ac .bic_acitem {
position: relative;
overflow: hidden;
background-color: #f1f2f5;
	border-radius: 10px;
}


#biccamera202506 .bic_ac .bic_acitem>input {
display: none;
}

#biccamera202506 .bic_ac .bic_acquestion {
background-color: #f1f2f5;
position: relative;
z-index: 1;
padding-right: 0;
cursor: pointer;

}
	/* アコーディオン */
#biccamera202506 .bic_ac .bic_acanswer {
position: absolute;
visibility: hidden;
transform: translateY(-100%);

background-color: #f1f2f5;

border-top: none;
}

#biccamera202506 .bic_ac .bic_acitem>input:checked+label+.bic_acanswer {
position: relative;
visibility: visible;
transform: translateY(0);
}


#biccamera202506 .bic_ac .bic_acquestion::before {
        content: '';
        width: 16px;
        height: 16px;
        border: 0;
        border-top: solid 4px #d00e31;
    border-right: solid 4px #d00e31;
        transform: rotate(135deg);
        position: absolute;
        top: -12%;
        right: 0;
        bottom: 0;
        margin: auto 25px auto auto;

}

#biccamera202506 .bic_ac .bic_acitem>input:checked+label>.bic_acquestion::before {
transform: translateY(50%) rotate(315deg);
	
}
@media screen and (max-width:768px) {
	#biccamera202506 .bic_ac {
	width:90%;
	margin: auto;
}
	#biccamera202506 .bic_ac .bic_acquestion {
    background-position: 2px 50%;
    background-size: 12%;
}
	#biccamera202506 .bic_ac .bic_acquestion::before {
    right: -16px;
		top: -5%;
}
	#biccamera202506 .bic_ac .bic_acquestion p {
    padding: 12px;
    padding-left: 50px;
    padding-right: 45px;
    font-size: 17px;
    line-height: 21px;
}
	#biccamera202506 .bic_ac .bic_acanswer {
    background-size: 12%;
    background-position: 2px 54%;
}
	#biccamera202506 .bic_ac .question_caution li{
    text-indent: -10px;
        padding-left: 10px;
}
}
/*よくある質問おわり*/

/*ロゴ*/
.logo_text {
    font-weight: bold;
    color: #008344;
    font-size: 14px;
    text-align: center;
}
.header {
	padding-top: 10px;
}

@media screen and (max-width: 1100px) {
	.logo_wrap {
		padding-left: 20px;
		color: #008344;
		font-weight: 600;
	}
	.logo_wrap img{
		width: 211px;
	}
}
@media screen and (max-width: 768px) {
    .logo_wrap img {
        width: 140px;
        margin-bottom: -8px;
    }
	.logo_wrap span{
		font-size: 12px;
	}
	.logo_wrap {
        padding-left: 15px;
        color: #008344;
        font-weight: 600;
    }
}
/*ロゴ終わり*/
/*固定ヘッダー*/
.sticky_block {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff;
}
.sticky_block .sticky_block_inner_wrap {
	position: relative;
	width: 100%;
	background: #fff;
  z-index: 20; /* 重ね順用　menu-slideより大きくなるよう設定 */
	    padding: 6px 0 2px;

}
.sticky_block .sticky_block_inner {
	max-width: 900px;
	margin: 0 auto;
}
.sticky_block .sticky_nav {
  display: flex;
	justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: bottom 0.3s, top 0.3s;
	z-index: 2147483647!important;
}
.sticky_block .sticky_nav img{
  width: 172px;
}
.sticky_block .sticky_nav_inner_box {
  display: flex;
	gap: 30px;
}
.sticky_nav .sticky_nav_inner_box .nav_item {
  position: relative;
  display: flex;
  align-items: center;
  height: 82px;
}
.sticky_nav .sticky_nav_inner_box .nav_item a {
	position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
	color: #4b4b4b;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.sticky_nav .sticky_nav_inner_box .nav_item.member a {
	padding: 6px 10px 8px;
	background: #ca1032;
	color: #fff;
	border: 2px solid #ca1032;
	transition: .2s;
}
.sticky_nav .sticky_nav_inner_box .nav_item.login {
	background: #fff;
}
.sticky_nav .sticky_nav_inner_box .nav_item.login a {
	padding: 6px 15px 8px 37px;
  color: #ca1032;
  border: 2px solid #ca1032;
  background: url(../img/ic_d.png) no-repeat;
  background-size: 13px 19px;
  background-position: 17px 50%;
  transition: .2s;
}
.menu-container {
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  background: #444;
  color: #fff;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.menu-container.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.menu-text {
  cursor: pointer;
  font-size: 16px;
}

@media screen and (min-width: 1101px) {
	.sticky_nav .sticky_nav_inner_box .nav_item.menu {
		padding-right: 25px;
	}
	.sticky_nav  .sticky_nav_inner_box .nav_item.member a:hover {
		background: #fff;
		color: #ca1032;
		transition: .2s;
	}
	.sticky_nav  .sticky_nav_inner_box .nav_item.login a:hover {
		color: #ff0000;
		border: 2px solid #ff0000;
		transition: .2s;
	}
	.sticky_nav .sticky_nav_inner_box .nav_item a span {
		padding: 0 0 10px;
		border-bottom: 2px solid transparent;
		transition: .2s;
	}
	.sticky_nav .sticky_nav_inner_box .nav_item a:hover span {
		border-bottom: 2px solid #1eaa39;
		transition: .2s;
	}
  .menu-btn {
		display: none;
  }
  .menu-text {
		position: relative;
    display: block;
    margin: 0 auto;
		padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
		border-bottom: 2px solid transparent;
		transition: .2s;
  }
  .menu-text:hover {
		transition: .2s;
  }
	.menu-text::after {
		position: absolute;
    content: '';
    top: 40%;
    right: -20px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #4B4B4B;
    border-bottom: 2px solid #4B4B4B;
    transform: translateY(-50%) rotate(45deg);
	}
	.menu-slide {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
  body {
    padding-bottom: 55px;
  }
  .sticky_nav {
    position: fixed;
    bottom: 0;
    background: #ddd;
	  left: 0;
	  padding: 6px 0;
  }
	.sticky_block .sticky_nav_inner_box {
		gap: 0;
		width: 100%;
	}
  .sticky_nav .sticky_nav_inner_box .nav_item {
		width: 100%;
    height: 55px;
    border-right: 1px solid #cacdce;
  }
  .sticky_nav .nav_item:nth-of-type(5) {
    border-right: none;
  }
	.sticky_nav .sticky_nav_inner_box .nav_item a {
		height: 100%;
	}
	.sticky_nav .sticky_nav_inner_box .nav_item.whatis a {
		background: url("../img/ic_whatis.png") no-repeat;
    background-size: 27px 27px;
    background-position: 50% 25%;
	}
	.sticky_nav .sticky_nav_inner_box .nav_item.price a {
		background: url("../img/ic_price.png") no-repeat;
    background-size: 30px 31px;
    background-position: 50% 25%;
	}
	.sticky_nav .sticky_nav_inner_box .nav_item.course a {
		background: url("../img/ic_course.png") no-repeat;
    background-size: 28px 23px;
    background-position: 50% 25%;
	}
	.sticky_nav .sticky_nav_inner_box .nav_item.flow a {
		background: url("../img/ic_flow.png") no-repeat;
    background-size: 21px 27px;
    background-position: 50% 25%;
	}
	.sticky_nav .sticky_nav_inner_box .nav_item.question a {
		background: url("../img/ic_question.png") no-repeat;
    background-size: 27px 27px;
    background-position: 50% 25%;
	}
  .sticky_nav  .sticky_nav_inner_box .nav_item a span {
		position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
  }
  .menu-container {
		display: none;
  }
  .menu-btn {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-text {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: auto;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
  }
	.menu-slide {
		position: fixed;
		top: 0;
		right: -100%;
		width: 70%;
		height: 100%;
		padding: 15px 12px 0;
		background: #fff;
		transition: right 0.3s ease-in-out;
		box-shadow: -2px 0 5px rgba(0,0,0,0.2);
		z-index: 10; /* 重ね順用　sticky_block_inner_wrapより小さくなるよう設定 */
	}
	.menu-slide.show {
		right: 0;
	}
	.menu-slide a {
    display: inline-block;
		width: 100%;
    font-size: 16px;
    text-decoration: none;
		box-sizing: border-box;
	}
	.menu-slide .menu-slide_logo {
		width: 150px;
		margin: 0 auto;
	}
	.menu-slide .menu-slide_link_block_01,
	.menu-slide .menu-slide_link_block_02 {
		padding-left: 0;
	}
	.menu-slide .menu-slide_link_block_01 li {
		list-style:none;
		border-top: 2px solid #c3c3c3;
	}
	.menu-slide .menu-slide_link_block_01 li:last-of-type {
		border-bottom: 2px solid #c3c3c3;
	}
	.menu-slide .menu-slide_link_block_01 li a {
		position: relative;
    padding: 20px 25px 20px 5px;
    color: #4b4b4b;
	}
	.menu-slide .menu-slide_link_block_01 li a::after {
		content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
		border: 8px solid transparent;
		border-left: 12px solid #4B4B4B;
	}
	.menu-slide .menu-slide_link_block_02 {
		max-width: 188px;
		margin: 50px auto 0;
	}
	.menu-slide .menu-slide_link_block_02 li {
		list-style:none;
	}
	.menu-slide .menu-slide_link_block_02 li:nth-of-type(n+2) {
		margin-top: 20px;
	}
	.menu-slide .menu-slide_link_block_02 li a {
		padding: 13px 10px;
		text-align: center;
		font-weight: 500;
	}
	.menu-slide .menu-slide_link_block_02 li.member a {
		color: #fff;
		background: #ca1032;
	}
	.menu-slide .menu-slide_link_block_02 li.login a {
		padding-left: 40px;
    color: #ca1032;
    background: url(../img/ic_d.png) no-repeat;
    background-size: 20px 28px;
    background-position: 30px 50%;
    border: 2px solid #ca1032;
	}
	
	.menu-btn {
		cursor: pointer;
		font-size: 16px;
		background: none;
		border: none;
		transition: opacity 0.3s ease-in-out;
	}
	.menu-btn .bar {
		display: block;
		width: 29px;
		height: 3px;
		background: #4B4B4B;
		margin: 3px 0;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
	.menu-btn.active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}
	.menu-btn.active .bar:nth-child(2) {
		opacity: 0;
	}
	.menu-btn.active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
}
/*固定ヘッダー終わり*/