/*終了告知*/
.campaign_finish{
    margin: 0 auto 0;
    position: relative;
    z-index: 2;
}
.campaign_finish br{
        display: none;
    }
div.campaign_finish div a{
    color: #fff;
    border-radius: 15px;
    border-bottom: 6px solid #97000c;
    background: linear-gradient(to top, #ed0c00, #ff0d00);
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px;
    box-sizing: border-box;
    text-align: center;
    width: 720px;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}
.campaign_finish span{
    font-size:24px;
    margin: 0 -10px;
}.campaign_finish p+p{
    text-decoration: underline;
    text-underline-offset: 4px;
}
.campaign_finish a:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% + 5px);
    right: 30px;
    width: 12px;
    height: 12px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transform: translateY(-50%) rotate(-45deg);
    vertical-align: middle;
}
.campaign_finish strong{
    font-size: 30px;
}

@media screen and (max-width: 768px) {
   .campaign_finish{
        font-size: 17px;
        padding: 10px 5px;
        line-height: 19px;
    }.campaign_finish br{
        display: block!important;
    }
    div.campaign_finish div a {
        width: 98%;
    max-width: 500px;
    }
    .campaign_finish strong {
    font-size: 24px;
}
    .campaign_finish span {
    font-size: 18px;
        margin: 0 -8px 0 -10px;
}
    .campaign_finish p+p {
   font-size: 14px;
        width: 94%;
}
    .campaign_finish a:after {

    right: 10px;
}
}

/*終了告知おわり*/
.campaign_finish_none{
    display: none;
}