@charset "utf-8";
/* CSS Document */

#campaign_finish_common_fixednews {
    background:#f1f2f5f2;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
    padding: 10px 0;
}#campaign_finish_common_fixednews p{
    color: #ca1032;
    font-size: 20px;
    font-weight: bold;
}
#campaign_finish_common_fixednews br{
        display: none;
    }@media screen and (max-width:768px) {
#campaign_finish_common_fixednews p{
            font-size: 16px;
        line-height: 19px;
}
  #campaign_finish_common_fixednews br{
        display: block;
    }
}